~$
*.bak
*.old
*.pem
*.swp
/blib/
/cover_db
/inc/
/local
/Makefile
/Makefile.old
/MANIFEST$
/MANIFEST.bak
/META*
/MYMETA*
/pm_to_blib
/public/docs/*html
/public/docs/fonts/
/public/docs/scripts/
/public/docs/styles/
/assets/rollup.config.d/
.perl-version
assets/sass/.sass-cache/
node_modules/
.DS_Store

# snapcraft directories
convos*.snap
convos*_source.tar.bz2
/parts/
/prime/
/stage/
/public/assets/*.development.*
