*.swp
*~
*.sublime-*
!.gitignore
!.perltidyrc
.DS_Store
.sass-cache
blib
pm_to_blib
Makefile*
!Makefile.PL
MANIFEST*
!MANIFEST.SKIP
*META.*
/lib/Convos/public
/lib/Convos/templates
/local
/log
/script/hypnotoad.pid
/convos.development.conf
/convos.production.conf
/cover_db
/script/toadfarm.pid
/public/packed
/irc_logs*
Convos-*.gz
