.sidebar-left {
  @extend %sidebar-wrapper-chrome;
  background: var(--sidebar-left-bg);
  border-right: var(--sidebar-left-border);
  width: var(--sidebar-left-width);
  left: 0;

  &, a {
    color: var(--sidebar-left-text);
  }

  .select-field__options a {
    color: var(--input-color);
  }

  @include if_screen(">two-columns") {
    padding-right: calc(var(--gutter) * 2);
  }

  @include if_screen("<=two-columns") {
    top: 3.1rem; // TODO: Should be a dynamic value
    right: 0;
    left: auto;

    .sidebar__header {
      display: none;
    }
  }

  h2 {
    font-size: var(--h1-font-size);
    line-height: var(--h1-font-size);
    height: var(--h1-font-size);
    margin: 0;
  }

  h3 {
    border-bottom: 1px solid var(--sidebar-left-border-bottom);
  }

  .sidebar__header {
    background: var(--sidebar-left-bg);
  }

  .sidebar__header__notification {
    font-size: 1.8rem;
    text-align: center;
    width: 1em;
    display: block;
    position: absolute;
    top: calc(var(--gutter) + 0.1rem);
    right: 1.3em;

    i {
      font-size: 1.5rem;
      position: static;
    }
  }

  .chat-header__unread {
    font-weight: bold;
    right: -0.2rem;
    top: -0.3rem;
  }

  .sidebar__header.has-focus .sidebar__header__notification {
    display: none;
  }
}

.sidebar-left__nav a {
  position: relative;

  &.for-connection,
  &.for-conversation {
    .fas:hover:before {
      content: fa-content($fa-var-tools);
    }
  }

  &.for-conversation {
    padding-left: 0.6em;
  }

  &.has-errors {
    font-style: italic;
  }

  &.is-frozen {
    color: var(--sidebar-left-frozen-color);
  }

  &:focus,
  &:hover {
    background: var(--sidebar-left-search-focus-bg);
  }

  &:focus {
    outline: 0;
    box-shadow: var(--focus-outline);
    z-index: 1;
  }

  &.has-path {
    background: var(--sidebar-left-search-focus-bg);
    font-style: inherit;

    .unread {
      display: none;
    }
  }

  &.has-focus {
    background: var(--sidebar-left-search-focus-bg);
  }
}

.sidebar-left__nav .fas {
  text-align: center;
  width: $sidebar-item-icon-width;
}

.sidebar-left__nav .unread {
  font-size: 0.9rem;
  line-height: 0.9rem;
  border-radius: 0.5em;
  padding: 0.15em 0.4em;
  position: absolute;
  top: 0.4em;
  right: 0.3em;
}

.sidebar-left__nav.is-filtering {
  a.has-path {
    background: transparent;
  }

  a.has-focus {
    background: var(--sidebar-left-search-focus-bg);
  }
}
