.sidebar-left form.sidebar__header {
  background: var(--sidebar-left-bg);

  input {
    background: transparent;
    color: var(--sidebar-left-text);
    font-size: var(--h1-font-size);
    line-height: var(--h1-font-size);
    height: var(--h1-font-size);
    width: 100%;
    border: 0;
    border-bottom: 2px solid transparent;
    margin-top: 0;

    &::placeholder {
      color: var(--sidebar-left-text);
      font-weight: bold;
    }

    &::-moz-placeholder {
      opacity: 1; // Fix faded color
    }

    &:focus {
      outline: 0;
      border-bottom-color: var(--sidebar-left-text);

      &::placeholder {
        color: var(--sidebar-left-search-placeholder-color);
      }
    }
  }
}