div.autocomplete {
  border-bottom: 1px solid color('grey', 'lighten-1');
  max-height: 8em;
  overflow: auto;
  position: relative;

  ul { margin: 0; padding: 0; }
  li {
    line-height: 3rem;
    color: $off-black;

    &:hover { background-color: $dropdown-hover-bg-color; }
    &.active { background-color: darken($dropdown-hover-bg-color, 5%); }
    &.no-match { color: color('grey', 'lighten-1'); }
    a, span { display: block; }
  }
}
