div.autocomplete {
  @include overflow;
  border-bottom: $input-border;
  max-height: 8em;
  position: relative;

  ul { margin: 0; padding: 0; }
  li {
    line-height: 3rem;
    color: $off-black;

    &:hover { background-color: $dropdown-hover-bg-color; }
    &.active { background-color: darken($dropdown-hover-bg-color, 5%); }
    a, span { display: block; }
  }
}

ul.textcomplete-dropdown {
  opacity: 1 !important;
  margin-left: 15px;
  li { min-height: auto; }
  li > a { padding: 6px 16px; }
}
