main {
  padding-right: ($sidebar-width + $card-padding);
  padding-left: $card-padding;
  @media only screen and (max-width: $medium-screen) { padding-right: $card-padding; }
  @media only screen and (min-width: $large-screen) { padding-left: ($large-screen - $readable-width - $sidebar-width - $card-padding); }
}

.user-input {
  right: ($sidebar-width + $card-padding);
  left: $card-padding;
  @media only screen and (max-width: $medium-screen) { right: $card-padding; }
  @media only screen and (min-width: $large-screen) { left: ($large-screen - $readable-width - $sidebar-width - $card-padding); }

  background-color: $body-bg;
  border-top: 1px solid $collection-border-color;
  position: fixed;
  bottom: 0;

  form {
    padding: 15px 20px 5px 20px;
  }

  $btn-width: 38px;
  $btn-padding: 10px;

  textarea.materialize-textarea {
    height: 2.4rem;
    min-height: 2.4rem;
    max-height: 11.5rem;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    width: calc(100% - 38px - 10px); // $btn-width, $btn-padding
    margin-right: 80px;

    &, &:focus {
      box-shadow: none !important;
      border-bottom: 0 !important;
    }
  }

  .btn-flat {
    padding: 0 $btn-padding;
    position: absolute;
    right: $btn-padding;
    top: $btn-padding;

    &:hover {
      background-color: rgba(0,0,0,.1);
    }
  }

  .dropdown-content {
    top: auto !important;
    right: 0 !important;
    bottom: $btn-padding !important;
    left: auto !important;
  }
}

.conversation {
  border: 0;
  padding-bottom: 70px;

  .collection-item.avatar {
    min-height: 70px;

    .ts {
      color: color('grey', 'darken-1');
      font-size: 0.8rem;
      top: 12px;
    }
  }
  .collection-item.avatar i.circle {
    font-size: 22px;
  }
  .collection-item.debug {
    @extend .grey-text;
  }
  .message {
    max-width: $readable-width;
  }
}

.no-conversations {
  height: 100vh;
  .valign {
    width: 100%;
    padding: 0 $card-padding 50px $card-padding;
  }
}

.material-icons {
  &.state-connected { }
  &.state-connecting { @extend .grey-text; }
  &.state-disconnected { @extend .grey-text; }
}
