$settings-active-color: #f6f6f6;

chat {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  margin-right: $sidebar-width - 1;
  overflow: hidden;

  dialog-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
  }

  connection-editor { max-width: 500px; min-width: 500px; }

  convos-help,
  new-dialog { max-width: 420px; min-width: 420px; }

  dialog-container { max-width: $readable-width + 40; } // 40 is just a wild guess
  dialog-container main {
    overflow: auto;
    flex-grow: 1;
  }

  nav {
    width: $sidebar-width;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 900;

    sidebar-dialogs {
      flex-grow: 1;
      overflow: auto;
    }
  }
}

connection-editor,
convos-help,
dialog-container,
new-dialog {
  overflow: auto;
  max-height: 100vh;

  h5 {
    margin-top: 0;
    padding-top: $gutter-width / 2;
  }

  input[type=text] {
    margin: 0;
  }

  .actions {
    overflow: hidden;
    position: absolute;
    top: $gutter-width * 0.4;
    right: $gutter-width * 0.3;
  }
}

connection-editor,
convos-help,
new-dialog {
  background: $settings-active-color;
  position: relative;
}

convos-help {
  dl dd {
    margin: 0 0 $gutter-width * 0.3 $gutter-width;
  }
  ul {
    list-style-type: square;
    padding-left: $gutter-width;
    li { list-style-type: inherit; }
  }
}

dialog-container {
  padding: 0 $gutter-width / 2 0 $gutter-width /2;

  header {
    position: relative;
    .actions { right: -4px; }
  }

  main ol.collection {
    border: 0;
    padding: 0;
    list-style-type: none;

    h5.title { font-size: 1.1rem; padding: 0; color: #000; }

    .collection-item {
      position: relative;
      padding: 10px 0;
    }
    .collection-item.special {
      background: #f8faf8;
    }
    .secondary-content {
      position: absolute;
      top: 10px;
      right: 0px;
      &, a {
        color: color('grey', 'darken-1');
        font-size: 0.8rem;
        overflow: hidden;
        display: block;
      }
      i {
        vertical-align: bottom;
      }
    }
    .collection-item.special .secondary-content {
      top: 8px;
      right: 4px;
      i { font-size: 22px; }
    }
    .message {
      a { color: inherit; text-decoration: underline; }
      a:hover { text-decoration: none; }
    }
  }

  user-input {
    border-top: 1px solid lighten($input-border-color, 24%);

    .actions {
      text-align: right;
      overflow: visible;
      position: relative;
      height: 0;
      top: -34px;
      right: 1px;
      a {
        display: inline-block;
        margin-right: -4px;
        padding: 4px 6px;
      }
      i { vertical-align: bottom; }
    }

    textarea.materialize-textarea {
      max-height: 11.5rem;
      margin: 8px 0;
      padding: 0;
      overflow: auto;
      box-sizing: border-box;
    }
  }
}

nav {
  color: #777;

  sidebar-dialogs,
  sidebar-notifications {
    > span, > a {
      display: block;
      padding: $element-top-margin $gutter-width / 2 $element-bottom-margin $gutter-width / 2;
    }
  }

  sidebar-dialogs {
    a.active {
      color: darken($link-color, 15%);
      font-weight: bold;
    }
    a.frozen {
      color: color("red", "darken-4");
    }
    .on {
      display: block;
      font-size: 0.9rem;
      color: #777;
      margin-left: 28px;
      margin-bottom: -5px;
    }
  }

  sidebar-settings {
    display: flex;
    a {
      position: relative;
      display: block;
      flex-grow: 1;
      text-align: center;
      padding: $gutter-width / 2 0;
      height: 60px;
      padding-bottom: $gutter-width;
    }
    a.active {
      color: darken($link-color, 15%);
      i { font-size: 28px; }
    }
  }

  .material-icons { vertical-align: bottom; }
}
