.convos-chat {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  margin-right: $sidebar-width - 1;
  overflow: hidden;

  .dialog-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: auto;
  }

  .connection-editor,
  .user-profile { max-width: 500px; min-width: 500px; }

  .convos-help,
  .create-dialog { max-width: 420px; min-width: 420px; }

  .embed-viewer { max-width: 55%; min-width: 55%; }

  .dialog-container { max-width: $readable-width + 40; } // 40 is just a wild guess
  .dialog-container main {
    padding-bottom: $gutter-width;
    overflow: auto;
    flex-grow: 1;
  }

  nav {
    width: $sidebar-width;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 900;

    .sidebar-dialogs {
      flex-grow: 1;
      overflow: auto;
    }
  }
}

.connection-editor,
.convos-help,
.create-dialog,
.dialog-container,
.embed-viewer,
.user-profile {
  display: block;
  overflow: auto;
  max-height: 100vh;

  h5 {
    margin-top: 0;
    padding-top: $gutter-width / 2;
  }

  input[type=text] {
    margin: 0;
  }

  .actions {
    overflow: hidden;
    position: absolute;
    top: $gutter-width * 0.4;
    right: $gutter-width * 0.3;
    z-index: 10;
  }
}

.connection-editor,
.convos-help,
.create-dialog,
.embed-viewer,
.user-profile {
  background: $settings-active-color;
  position: relative;
}

.convos-help {
  dl dd {
    margin: 0 0 $gutter-width * 0.3 $gutter-width;
  }
  ul {
    list-style-type: square;
    padding-left: $gutter-width;
    li { list-style-type: inherit; }
  }
}
