$theme-color: #388e3c !default;
$font-family: "PT Sans", Helvetica, Arial, sans-serif !default;
$font-size: 16px;
$gutter: 1rem !default;

$sidebar-bg: $theme-color !default;
$sidebar-text: #fefefe !default;
$sidebar-width: 18rem !default;

$text-field-border-color: #888;
