$dialog-spacing: 4px;

dialog-container {
  padding: 0 $gutter-width / 2;

  header {
    position: relative;
    .actions { right: -4px; }
  }

  dialog-message,
  dialog-info {
    display: block;
    position: relative;
    margin: $dialog-spacing * 2 0;

    &:hover { background: darken($body-bg, 2%); }

    .secondary-content {
      position: absolute;
      top: 2px;
      right: 0;
      &, a {
        color: color('grey', 'darken-1');
        font-size: 0.8rem;
        overflow: hidden;
        display: block;
      }
      i {
        vertical-align: bottom;
      }
    }
  }


  dialog-message.error,
  dialog-message.notice,
  dialog-info {
    padding-left: $gutter-width / 2;
    padding-right: $gutter-width / 2;
    border-left: 2px solid color('grey', 'lighten-1');
  }

  dialog-info {
    h5.title { font-size: 1.1rem; padding: 0; color: $off-black; }
    i { font-size: 22px; }
  }

  dialog-message {
    &.action {
      .message, a.title {
        font-style: italic;
        display: inline;
      }
    }
    &.error {
      border-left: 2px solid  color('red', 'accent-3');
      color: lighten($off-black, 40%);
      a { color: lighten($link-color, 20%); }
    }
    &.highlight .message {
      color: color('red', 'accent-2');
    }
    &.notice {
      border-left: 2px solid color('grey', 'lighten-1');
      color: lighten($off-black, 40%);
      a { color: lighten($link-color, 20%); }
    }
    &.same-user {
      margin-top: -$dialog-spacing;
    }
    &.same-user {
      a.title, .secondary-content { display: none; }
    }

    .message {
      a { color: inherit; text-decoration: underline; }
      a:hover { text-decoration: none; }
    }
  }
}

user-input {
  border-top: 1px solid lighten($input-border-color, 24%);
  box-sizing: content-box; // border-top makes an extra scrollbar appear without this

  .actions {
    text-align: right;
    overflow: visible;
    position: relative;
    height: 0;
    top: -34px;
    right: 1px;
    a {
      display: inline-block;
      margin-right: -$dialog-spacing;
      padding: $dialog-spacing 6px;
    }
    i { vertical-align: bottom; }
  }

  textarea.materialize-textarea {
    max-height: 11.5rem;
    margin: 8px 0;
    padding: 0;
    overflow: auto;
    box-sizing: border-box;
  }
}
