body {
  background-color: $body-bg;
}

h1, h2, h3, h4, h5 {
  color: $header-color;
}

strong { font-weight: bold; }

dl.horizontal {
  margin: 0;
  dt {
    width: 10em;
    float: left;
    clear: left;
  }
}

a:hover {
  color: darken($secondary-color, 10%);
}

button.btn[disabled] {
  @extend .disabled;
}

div.alert {
  background: color('red', 'lighten-5');
  border: 1px solid color('red', 'lighten-2');
  border-radius: 2px;
  color: color('red', 'darken-2');
  padding: $card-padding / 2;
}

.centered {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  > div {
    text-align: center;
    max-width: 50%;
    padding-bottom: 30px;
  }
  i.material-icons {
    vertical-align: middle;
  }
  p.error {
    color: color('red', 'darken-2');
    padding-bottom: $gutter-width;
    border-bottom: 1px solid $input-border-color;
  }
}

.btn, .btn-large, .btn-flat {
  padding: 0 1rem;
}

.btn-delete {
  @extend .btn, .waves-effect, .waves-light, .red, .darken-2;
}

.col {
  .btn, .btn-large, .btn-flat {
    margin-right: 0.5rem;
    &.right { margin-right: 0; }
  }
}
