body {
  background-color: $body-bg;
}

h1, h2, h3, h4, h5 {
  color: $header-color;
}

strong { font-weight: bold; }

p {
  margin: 1rem 0;
}

dl {
  dt { margin: 0; }
  dd { margin: 0 0 0.5rem 1rem; }
}

dl.horizontal {
  margin: 0;
  dt {
    width: 10em;
    float: left;
    clear: left;
  }
}

a:hover {
  color: darken($secondary-color, 10%);
}

button.btn[disabled] {
  @extend .disabled;
}

div.alert {
  background: color('red', 'lighten-5');
  border: 1px solid color('red', 'lighten-2');
  border-radius: 2px;
  color: color('red', 'darken-2');
  padding: $card-padding / 2;
}

.centered {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  > div {
    text-align: center;
    max-width: 50%;
    padding-bottom: 30px;
  }
  i.material-icons {
    vertical-align: middle;
  }
  p.error {
    color: color('red', 'darken-2');
    padding-bottom: $gutter-width;
    border-bottom: 1px solid $input-border-color;
  }
}

.btn-delete {
  @extend .btn, .waves-effect, .waves-light, .red, .darken-2;
}

.col {
  .btn, .btn-large, .btn-flat {
    margin-right: 0.5rem;
    &.right { margin-right: 0; }
  }
}

.hidden { display: none; }

.input-btn-right {
  .btn {
    float: right;
    margin-right: 0;
    margin-top: 0.5rem;
  }
  .input-left {
    overflow: hidden;
    padding-right: $gutter-width / 2;
  }
}

.select-wrapper {
  ul {
    display: block;
    margin-top: -54px;
    transition: opacity 0.3s ease-in-out;
    left: -2000px;
    &.active { opacity: 1; left: auto; }
  }

  input.select-dropdown {
    color: #000;
  }
}

#vue_tooltip {
  background-color: #323232;
  color: #fff;
  font-size: 1rem;
  line-height: 120%;
  text-align: center;

  border-radius: 4px;
  padding: 8px 6px;
  max-width: calc(100% - 4px);
  min-height: 30px;

  transition: opacity 350ms;
  transition-delay: 100ms;

  position: absolute;
  left: -2000px;
  top: -2000px;
  overflow: hidden;
  opacity: 0;
  z-index: 2000;
  will-change: opacity;
  pointer-events: none;

  &.active { opacity: 0.95; }

  @media #{$medium-and-down} {
    display: none !important;
  }
}
