.link-embedder,
.link-embedder.text-html,
iframe.link-embedder,
img.embed {
  overflow: hidden;
  display: block;
  max-width: 98%;
  max-height: 20rem;
  margin: 6px 1%;

  @media #{$medium-and-up} {
    max-width: $readable-width;
    max-height: none;
    margin: 6px 8px;
  }
}

img.embed {
  max-height: 220px;
}

.gist .gist-file {
  /*
   * position + z-index is a hack for making it render properly
   * http://stackoverflow.com/questions/10522054/weird-rendering-bug-in-desktop-webkit-safari-chrome-with-absolutely-positioned
   */
  position: relative;
  z-index: 1;
  margin: 0 !important;
}

.gist .highlight {
  background: $settings-active-color !important;
}

.materialboxed {
  cursor: zoom-in;
  border-radius: 2px;
  transition: box-shadow .3s;
  box-shadow: 0;

  &:hover {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  }
}

.materialbox-overlay {
  background-color: #292929;
  width: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 1001;
  opacity: 0.01;
  cursor: zoom-out;

  img {
    transition:
      width .3s ease-in-out,
      height .3s ease-in-out,
      left .3s ease-in-out,
      top .3s ease-in-out;
  }

  &.active {
    display: block;
    opacity: 0.98;
    width: 100%;
  }
}

.link-embedder.text-html {
  .link-embedder-media {
    float: left;
    img {
      max-height: 50px;
      margin-right: 8px;
      border: 0;
    }
  }

  h3 {
    font-size: 1em;
    line-height: 1em;
    display: block;
    margin: 8px 0 0 0;
  }

  p {
    font-size: 0.9em;
    line-height: 1.2em;
    margin: 4px 0;
    display: table-cell;
  }

  .link-embedder-link {
    display: none;
  }
}
