.link-embedder,
.link-embedder.text-html,
iframe.link-embedder,
img.embed {
  overflow: hidden;
  display: block;
  max-width: 100%; // required to contain iframes on iphone
  max-height: 20rem;
  margin: 6px 0;

  @media #{$medium-and-up} {
    max-height: none;
  }
}

img.embed {
  max-height: 220px;
}

.materialboxed {
  cursor: zoom-in;
  border-radius: 2px;
  transition: box-shadow .3s;
  box-shadow: 0;

  &:hover {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  }
}

.materialbox-overlay {
  background-color: #292929;
  width: 0;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  z-index: 1001;
  opacity: 0.01;
  cursor: zoom-out;

  img {
    transition:
      width .3s ease-in-out,
      height .3s ease-in-out,
      left .3s ease-in-out,
      top .3s ease-in-out;
  }

  &.active {
    display: block;
    opacity: 0.98;
    width: 100%;
  }
}

.link-embedder.text-html {
  .link-embedder-media {
    float: left;
    img {
      max-height: 50px;
      margin-right: 8px;
      border: 0;
    }
  }

  h3 {
    font-size: 1em;
    line-height: 1em;
    display: block;
    margin: 8px 0 0 0;
  }

  p {
    font-size: 0.9em;
    line-height: 1.2em;
    margin: 4px 0;
    display: table-cell;
  }

  .link-embedder-link {
    display: none;
  }
}

.hljs {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  line-height: 1.3rem;
  white-space: pre;
}

.link-embedder.text-paste {
  $paste-bg-color: #f8f8f8;

  background: $paste-bg-color;
  border: 1px solid darken($paste-bg-color, 10%);
  max-height: 80px;
  max-width: 100%;
  overflow: hidden;

  .paste-meta {
    background-color: darken($paste-bg-color, 10%);
    color: $text-color;
    padding: 0.2em 0.5rem;
    margin: 0;
    cursor: zoom-in;

    &::before {
      @extend .material-icons;
      font-size: 1.6rem !important;
      content: '\e313';
      float: right;
    }
  }

  ol {
    margin: 0.2rem 0;
  }

  &.expanded {
    max-height: none;
    overflow-x: auto;

    .paste-meta {
      cursor: zoom-out;
      &::before {
        content: '\e316';
      }
    }
  }
}
