body.user-login,
body.user-register {
  background-color: darken($body-bg, 10%);
  padding-top: 2em;

  form {
    background: $body-bg;
  }

  h2 {
    text-indent: -10000px;
    background: url(../images/logo.svg) no-repeat;
  }

  .about {
    &, a { color: color('grey', 'darken-1'); }
    padding-top: 20px;
  }
}
