.not-logged-in-wrapper {
  padding-top: 3em;

  h2 {
    text-indent: -10000px;
    background: url(../images/logo.svg) no-repeat;
  }

  .about {
    &, a { @extend .grey-text, .text-lighten-1; }
    a:hover { @extend .grey-text };
    padding-top: 2em;
  }
}
