.not-logged-in-wrapper {
  padding-top: 3em;

  h2 {
    text-indent: -10000px;
    background: url(../../images/logo.svg) no-repeat;
  }

  .about {
    &, a { color: lighten($text-color, 40%); }
    a:hover { color: $text-color; };
    padding-top: 2em;
  }
}
