@import "mixins/if_screen";

%next-to-sidebar {
  position: absolute;

  @include if_screen("<=two-columns") {
    padding-right: var(--gutter);
    padding-left: var(--gutter);
    right: 0;
    left: 0;
  }

  @include if_screen(">two-columns") {
    right: calc(var(--gutter) * 2);
    left: calc(var(--sidebar-width) + var(--gutter) * 2);
  }

  @include if_screen(">three-columns") {
    right: calc(var(--sidebar-width) + var(--gutter) * 2);
  }
}

%sidebar-wrapper-chrome {
  padding: 0 var(--gutter);
  width: var(--sidebar-width);
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 900;
  -webkit-overflow-scrolling: touch;

  > :last-child {
    padding-bottom: 8rem;
  }
}
