@import "mixins/if_screen";

// This is also used by .message .popover
@mixin select_options {
  background: var(--autocomplete-bg);
  line-height: 2.2em;
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  box-shadow: inset -1px 1px 3px rgba(0, 0, 0, 0.1), -1px 1px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  a {
    color: var(--input-color);
    text-decoration: none;
    padding: 0em 0.5em;
    display: block;

    &.is-active,
    &.on-hover:hover {
      background: var(--autocomplete-focus-bg);
      color: var(--autocomplete-focus);
    }
  }
}

@mixin square_text($size) {
  font-size: $size * 0.666667;
  line-height: $size;
  height: $size;
  min-width: $size;
}

%next-to-sidebar {
  position: absolute;
  padding-right: var(--gutter);
  padding-left: var(--gutter);

  @include if_screen("<=two-columns") {
    right: 0;
    left: 0;
  }

  @include if_screen(">two-columns") {
    right: var(--gutter);
    left: calc(var(--gutter) + var(--sidebar-left-width));
  }

  @include if_screen(">three-columns") {
    right: calc(var(--gutter) + var(--sidebar-right-width));
  }
}

%sidebar-wrapper-chrome {
  padding: 0 var(--gutter);
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 900;
  -webkit-overflow-scrolling: touch;

  > :last-child {
    padding-bottom: 8rem;
  }
}
