nav {
  color: #777;

  .material-icons { vertical-align: bottom; }

  .sidebar-dialogs {
    > span, > a {
      display: block;
      padding: $element-bottom-margin $gutter-width / 2 $element-top-margin;
    }
  }

  .sidebar-dialogs {
    a {
      border-right: 4px solid $body-bg;
      min-height: 60px;
    }
    a.active {
      color: darken($link-color, 15%);
      border-color: $link-color;
      font-weight: bold;
    }
    a.frozen {
      color: color("red", "darken-4");
    }
    .on {
      display: block;
      font-size: 0.9rem;
      color: #777;
      margin-left: 28px;
      margin-bottom: -5px;
    }
  }

  .sidebar-settings {
    display: flex;

    a {
      text-align: center;
      border-bottom: 3px solid color("grey", "lighten-3");
      padding: $element-bottom-margin 0 $element-top-margin 0;
      margin: 0 4px ($element-bottom-margin - $element-top-margin) 4px;
      position: relative;
      display: block;
      flex-grow: 1;
    }
    a.active {
      border-color: $link-color;
    }
    i.active {
      position: relative;
      left: -4px;
    }
    b.n-notifications {
      position: absolute;
      bottom: 0px;
      right: 4px;
    }
  }
}
