.convos-dialogs,
.is-sidebar {
  position: relative;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  div.content { height: 100%; overflow: auto; }

  &.hidden { display: none !important; }
}

.convos-dialogs {
  background-color: darken($body-bg, 3%);
  width: 100%;
  flex-shrink: 0;

  @media #{$large-and-up} {
    width: $dialogs-width;
    &.show-on-large {
      display: block !important;
    }
  }

  header {
    .input-field {
      height: 100%;
      padding: 0 $gutter-width;
      margin: 0;

      input {
        font-size: 1.2rem;
        height: 100%;
        border: none;
        margin: 0;
        padding-left: 1rem;

        &, &:focus { color: $navbar-font-color; }

        &:focus, &[type=text]:valid {
          background: transparent;
          border: none;
          box-shadow: none;
        }
      }
      label {
        top: 0;
        left: $gutter-width / 2;

        i { font-size: 24px; color: rgba(255,255,255,.7); transition: color .3s; }
        &.active i { color: $navbar-font-color; }
        &.active { transform: translateY(0); }
      }
    }

    @media #{$medium-and-down} {
      .input-field { display: none; }
    }
  }

  .content > a {
    display: block;
    position: relative;
    padding: $element-bottom-margin $gutter-width / 2;

    b {
      font-size: 1rem;
      line-height: 1rem;
      text-align: center;
      width: 24px;
      position: absolute;
      bottom: 1rem;
      left: $gutter-width / 2;
    }
  }
  .content {
    a { min-height: 64px; }
    a.active {
      background-color: $body-bg;
      color: darken($link-color, 15%);
      font-weight: bold;
    }
    a.frozen {
      color: color("red", "darken-4");
    }
    .on {
      display: block;
      font-size: 0.9rem;
      color: #777;
      margin-left: 28px;
      margin-bottom: -5px;
    }
    .material-icons { vertical-align: bottom; }
  }
}

.is-sidebar {
  background-color: darken($body-bg, 3%);
  width: 100%;

  @media #{$large-and-up} {
    width: $sidebar-width * 1.2;
  }
}

.convos-notifications {
  .row {
    margin: 2px auto;
    padding-bottom: $h6-fontsize / 2.5;
  }

  .notification {
    cursor: pointer;

    &:hover {
      background-color: darken($body-bg, 6%);
    }

    h5, .secondary-content {
      font-size: $h6-fontsize;
      line-height: 110%;
      margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0;
    }
  }
}

@media #{$medium-and-down} {
  .convos-dialogs,
  .is-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 900;
  }
  .convos-dialogs { left: 0; }
  .is-sidebar { right: 0; }
}
