.convos-main-menu,
.is-sidebar {
  width: 100%; // small screens
  background-color: darken($body-bg, 3%);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: $z-index-header + 1;

  div.content {
    @include under-header;
    @include overflow;
    overflow-x: hidden; // This fixes some weird horizontal scrolling in Chrome on iPhone
    bottom: 0;
    left: 0;
    right: 0;
  }

  &.hidden { display: none !important; }
}

.convos-main-menu {
  left: 0; // small screen

  @media #{$large-and-up} {
    width: $main-menu-width;
    &.show-on-large {
      display: block !important;
    }
  }

  .content > a {
    display: block;
    position: relative;
    padding: $element-bottom-margin $gutter-width / 2;

    &.active {
      background-color: $body-bg;
      color: darken($link-color, 15%);
      font-weight: bold;
    }

    &.frozen {
      color: color("red", "darken-4");
    }

    &:hover, &.focus {
      background-color: darken($body-bg, 6%);
    }

    b {
      font-size: 1rem;
      line-height: 1rem;
      text-align: center;
      width: 24px;
      position: absolute;
      bottom: 1rem;
      left: $gutter-width / 2;
    }

    .material-icons { vertical-align: top; }
    &.simple .material-icons { vertical-align: bottom; }
  }

  .on {
    display: block;
    font-size: 0.9rem;
    color: #777;
    margin-left: 28px;
    margin-bottom: -5px;
  }
}

.is-sidebar {
  right: 0;
  @media #{$large-and-up} {
    width: $sidebar-width;
  }
}

.convos-dialog-settings,
.convos-notifications {
  .row {
    margin: 0 auto;
  }

  .btn-floating {
    box-shadow: none;
    vertical-align: middle;
    float: right;
    top: -6px;
  }

  .notification,
  .participant {
    &:hover {
      background-color: darken($body-bg, 6%);
    }

    h5, .secondary-content {
      font-size: $h6-fontsize;
      line-height: 110%;
      margin: ($h6-fontsize / 2) 0 ($h6-fontsize / 2.5) 0;
    }
  }

  .notification {
    cursor: pointer;
    padding-top: 4px;
    padding-bottom: 8px;
    border-bottom: 1px solid darken($body-bg, 6%);

    &.read { opacity: 0.7; }
  }

  .participant {
    padding: 4px 0;
    border-top: 1px solid darken($body-bg, 6%);
    .secondary-content { margin: 0; }
  }
}

header a.notifications {
  position: relative;

  i.active { // notifications
    position: relative;
  }
  b.n-notifications {
    color: darken($navbar-font-color, 10%);
    font-size: 1rem;
    line-height: 1rem;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }
}
