$breakpoint-one-column: 400px !default;
$breakpoint-two-columns: 800px !default;
$breakpoint-three-columns: 1200px !default;

$sidebar-item-indent: 0.3rem;
$sidebar-item-dialog-indent: 0.6rem;
$sidebar-item-icon-width: 1.5rem;

@import '../../node_modules/highlight.js/scss/atom-one-light.scss';

@import 'themes/nord';
@import 'themes/dark';
@import 'themes/light';

@media (prefers-color-scheme: dark) {
  @import '../../node_modules/highlight.js/scss/atom-one-dark.scss';
  @import 'themes/dark';
}
