$body-bg: #fff;
$primary-color: color("green", "lighten-1");
$secondary-color: color("green", "darken-4");
$link-color: color("green", "darken-2");
$medium-screen: 820px;
$medium-screen-up: 821px;
$sidebar-width: 300px;
$sidebar-z-index: 10;
$sidebar-hover-color: #ddd;
$collection-bg-color: transparent;
$readable-width: 820px;
