div.autocomplete {
  overflow: auto;
  max-height: 8em;
  margin-top: -15px;
  border-bottom: 1px solid color('grey', 'lighten-1');

  li {
    line-height: 3rem;
    color: $off-black;

    &:hover { background-color: $dropdown-hover-bg-color; }
    &.active { background-color: darken($dropdown-hover-bg-color, 5%); }
    a, span { display: block; }
    &.loading { color: color('grey', 'lighten-1'); }
  }
}
