.conversation {
  border: 0;
  max-width: $readable-width;

  .collection-item.avatar {
    min-height: 70px;
  }
  .collection-item.avatar i.circle {
    font-size: 22px;
  }
  .collection-item.debug {
    @extend .grey-text;
  }
}

.user-input {
  background: darken($body-bg, 5%);
  position: fixed;
  right: 0;
  bottom: 0;
  left: $sidenav-width;
  border-top: 1px solid $collection-border-color;

  form {
    padding: 15px 20px 5px 20px;
  }

  textarea.materialize-textarea {
    height: 2.7rem;
    min-height: 2.7rem;
    max-height: 11.5rem;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
  }

  @media only screen and (max-width: $medium-screen) {
    left: 0;
  }
}

body.user-login,
body.user-register {
  background-color: darken($body-bg, 10%);
  padding-top: 2em;

  form {
    background: $body-bg;
  }

  h2 {
    text-indent: -10000px;
    background: url(../images/logo.svg) no-repeat;
  }

  .about {
    &, a { color: color('grey', 'darken-1'); }
    padding-top: 20px;
  }
}
