.link-embedder.text-html {
  overflow: hidden;

  .link-embedder-media {
    float: left;
    img {
      max-height: 50px;
      margin-right: 8px;
      border: 0;
      @include border-radius(0);
    }
  }

  h3 {
    font-size: 1em;
    line-height: 1em;
    display: block;
    margin: 8px 0 0 0;
  }

  p {
    margin: 4px 0;
  }

  .link-embedder-link {
    display: none;
  }
}
