div.loading-indicator-overlay,
div.loading-indicator {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $navBarZindex - 100;
}
div.loading-indicator-overlay {
  background: #fff;
  @include opacity(0.7);
}
div.loading-indicator {
  background: url(../image/loader-squares-circle.gif) 50% 50% no-repeat;
}
