$fontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$backgroundColor: #fff;
$sidebarBackground: #f4f4f4;
$fontColor: #333;
$linkColor: #00451f;
$errorColor: #d5000d;
$borderColor: #eee;
$infoBackground: #def;
$iconMuted: $borderColor;
$buttonBorderHover: 2px solid darker($backgroundColor, 70%);
$mentionsBackground: lighter($errorColor, 20%);

$bodyGutter: 20px;
$bodyGutterSmall: 6px;
$columnWidth: 8.333333%;
$fontSize: 15px;
$footerHeight: 50px;
$navBarIconWidth: 32px;
$navBarZindex: 999;
$navHeight: 42px;
$nickListWidth: 180px;
$responsiveWidth: 700px;
$selectizeOptionPadding: 4px 8px;

$FontAwesomePath: "../font";
