@charset "UTF-8";

// Mixins
@import "materialize/prefixer";
@import "materialize/mixins";
@import "materialize/color";

// Variables;
@import "variables";
@import "materialize/variables";

// Reset
@import "materialize/normalize";

// materialize
@import "materialize/global";
@import "materialize/icons-material-design";
@import "materialize/grid";
@import "materialize/roboto";
@import "materialize/typography";
// @import "materialize/cards";
// @import "materialize/toast";
// @import "materialize/tabs";
@import "materialize/tooltip";
@import "materialize/buttons";
@import "materialize/dropdown";
@import "materialize/waves";
@import "materialize/modal";
@import "materialize/collapsible";
// @import "materialize/materialbox";
@import "materialize/form";
// @import "materialize/table_of_contents";
// @import "materialize/sideNav";
// @import "materialize/preloader";
// @import "materialize/slider";
// @import "materialize/date_picker/default.scss";
// @import "materialize/date_picker/default.date.scss";
// @import "materialize/date_picker/default.time.scss";

@import "global";
@import "autocomplete";
@import "login";
@import "sidenav";
@import "chat";
