@font-face{font-family:'Hume Mono';src:url('/font/HumeMonoRegular.eot');src:url('/font/HumeMonoRegular.eot?#iefix') format('embedded-opentype'),url('/font/HumeMonoRegular.woff') format('woff');font-weight:normal;font-style:normal}html,body,body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,figure,footer,header,hgroup,menu,nav,section,time,mark,audio,video,details,summary{margin:0;padding:0;border:0;font-size:100%;line-height:1.6em;vertical-align:baseline;background:transparent}
article,aside,figure,footer,header,hgroup,nav,section,details,summary{display:block}
ul{list-style:none}
a{margin:0;padding:0;vertical-align:baseline;background:transparent}
abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}
table{border-collapse:collapse;border-spacing:0}
th{font-weight:bold;vertical-align:bottom}
td{font-weight:normal;vertical-align:top}
input,select,button{vertical-align:middle}
select,input,textarea{font-size:13px}
table{font-size:inherit;font:100%}
.clickable,label,input[type=file],button{cursor:pointer}
button,input,select,textarea{margin:0}
button{width:auto;overflow:visible}
.ie7 img{-ms-interpolation-mode:bicubic}
.clearfix:before,.clearfix:after{content:"\0020";display:block;height:0;overflow:hidden}
.clearfix:after{clear:both}
.clearfix{zoom:1}
*{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}
body{background-color:#fff;font-size:14px;font-family:Arial,sans-serif}
body,select,input,textarea{color:#333}
a{color:#469}
a:hover{color:#253752}
a:link{-webkit-tap-highlight-color:#253752}
input:-moz-placeholder{color:#808080}
textarea:-moz-placeholder{color:#808080}
li.separator{background:#eee;height:1px;overflow:hidden}
html,body{height:100%}
div.wrapper{min-height:100%;height:auto !important;height:100%;margin-bottom:-50px}div.wrapper div.clear{height:70px;clear:both}
footer{height:50px;background:#fff;color:#999;clear:both;padding:2px 20px}footer form input{width:100%;padding:6px;font-size:1.3em}
footer form input.sending{background:url(../image/loading.gif) no-repeat 99% 50%}
h1 a,h3 a{text-decoration:none}
h1{font-size:2em;margin-top:.5em;margin-bottom:.5em}
h2{font-size:1.6em;margin-top:.625em;margin-bottom:.625em}
h3{font-size:1.2em;margin-top:.8333333333333334em;margin-bottom:.8333333333333334em}
img{max-width:100%}
p{margin:1em 0}
dl dt{width:220px;float:left;clear:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
dl dd{margin-left:240px}
.center{text-align:center}
.hidden{display:none}
.row{padding:0 20px;clear:both}
div.alert,div.question{padding:1em;margin:1em 0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
div.alert{background:#fed;color:#851;border:1px solid #edb}
div.question{background:#def;color:#158;border:1px solid #bde}
form{margin:0}form label{display:block;margin-top:20px}
form input{padding:4px;font-size:1.2em;outline:none;border:2px solid #aaa;width:290px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
form input:focus{border:2px solid #848484}
form div.error input{border-color:#e66}
form div.error p.help{color:#f44}
form div.actions{margin-top:2em;clear:left;border-top:1px solid #ddd;padding:.5em 0}
form p.help{color:#555;font-size:.9em;margin-top:.1em}
button,.button{color:#222;background:#e6e6e6;font-size:16px;text-decoration:none;padding:6px 8px;border:2px solid #999;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
button{height:34px;vertical-align:baseline}
button:active,button.active,.button:active,.button.active{background:#ccc}
button.confirm,a.confirm{color:#900;border:2px solid #900}
button:hover,.button:hover{border:2px solid #4d4d4d}
nav.bar{background:#fdfdfd;position:fixed;padding:0 20px;top:0;left:0;width:100%;height:42px;z-index:1000;overflow:hidden;-webkit-box-shadow:0 4px 4px -2px rgba(180,180,180,0.5);-moz-box-shadow:0 4px 4px -2px rgba(180,180,180,0.5);box-shadow:0 4px 4px -2px rgba(180,180,180,0.5)}nav.bar a{color:#000;text-decoration:none;padding:10px 4px;margin-left:-1px;border-left:1px solid #eee;border-right:1px solid #eee;display:block;float:left}
nav.bar a.current{font-size:22px;border:0;padding-right:10px}
nav.bar a.conversation{color:#666}
nav.bar a.settings,nav.bar a.help,nav.bar a.logout,nav.bar a.conversation-list{text-indent:-10000px}
nav.bar a.conversation-list{background:#fff url(../image/sprite.png) no-repeat 0 0;width:20px;background-position:-167px 0;display:none}
nav.bar .right{position:absolute;right:20px}nav.bar .right a{background:#fff url(../image/sprite.png) no-repeat 0 0;width:32px}
nav.bar .right a.notification-list{background-position:-32px 0}
nav.bar .right a.notification-list.alert{background-position:-64px 0}
nav.bar .right a.help{background-position:-96px 0}
nav.bar .right a.logout{background-position:-128px 0}
nav.bar .right a.notification-list b{position:relative;top:14px;color:#bbb;font-size:.9em}
nav.bar .right a.notification-list.alert b{color:#b22}
nav.bar .right a.hidden{display:none}
nav.bar a.active,nav.bar a:hover{color:#000;background-color:#f2f2f2}
div.conversation-list,div.notification-list{background:#fafafa;position:fixed;top:42px;width:320px;max-height:70%;overflow:auto;z-index:1001;display:none;-webkit-box-shadow:0 0 1px 1px rgba(180,180,180,0.5);-moz-box-shadow:0 0 1px 1px rgba(180,180,180,0.5);box-shadow:0 0 1px 1px rgba(180,180,180,0.5)}div.conversation-list li,div.notification-list li{border-bottom:1px solid #eee}
div.conversation-list a,div.notification-list a{color:#000;text-decoration:none;padding:4px;display:block}
div.conversation-list a:hover,div.notification-list a:hover{color:#000;background-color:#f2f2f2}
div.notification-list{right:6px}div.notification-list li.unread{border-right:2px solid #f66}
div.notification-list span.message{color:#666;font-size:.9em;line-height:1em;text-overflow:ellipsis;white-space:nowrap;display:block;overflow:hidden}
section.messages{padding-top:45px}section.messages li{display:block;position:relative;padding:6px 0;border-bottom:1px solid #f0f0ff;overflow:hidden}section.messages li img{float:left}
section.messages li h3{font-size:1em;color:#467;line-height:1.2em;margin:0}
section.messages li h3,section.messages li div{margin-left:50px}
section.messages li div{font-family:"HumeMonoRegular",monospace}
section.messages li span.timestamp{position:absolute;top:2px;right:0;color:#999}
section.messages li.highlight{background:#fee}
section.messages li.action-message .content{font-style:italic}
section.messages li.message .embed,section.messages li.message .embed img{max-height:220px}
section.messages li.nick-change,section.messages li.nick-joined,section.messages li.nick-parted,section.messages li.topic,section.messages li.whois,section.messages li.notice{color:#555}
.settings{padding-top:50px}.settings h2 select{font-size:18px;font-weight:bold}
.landing-page{margin:auto;width:800px}.landing-page img{margin:2em 40px;border:1px solid #ccc;-webkit-box-shadow:0 0 4px 2px rgba(180,180,180,0.5);-moz-box-shadow:0 0 4px 2px rgba(180,180,180,0.5);box-shadow:0 0 4px 2px rgba(180,180,180,0.5)}
.landing-page nav,.landing-page .login,.landing-page .register,.landing-page .about{width:700px;margin:2em auto;overflow:hidden}
.landing-page nav{margin-bottom:0}.landing-page nav a.button,.landing-page nav a.button.active{background:#fafafa;margin-right:10px;display:block;float:left}
.landing-page nav a.active{border:2px solid #4d4d4d;border-bottom:0;position:relative;z-index:5}
.landing-page .row{padding:0}
.landing-page .login,.landing-page .register{background:#fafafa;border:2px solid #4d4d4d;margin-top:-4px;display:none;padding:20px;position:relative}.landing-page .login h1,.landing-page .register h1{display:none}
.landing-page .about{padding-bottom:100px}
@media (max-width:700px){footer,nav.bar,.row{padding:0} nav.bar .right{right:0} .landing-page{width:100%}.landing-page img{margin:2em 0} .landing-page .row{padding-left:10px;padding-right:10px} .landing-page nav,.landing-page .login,.landing-page .register,.landing-page .about{width:100%}}
