/*
 * name: Convos
 * color-scheme: dark
 */

:root {
  --body-bg: #333333;
  --cms-bg: linear-gradient(170deg, #444444, #222222);
  --text-color: #f4f4f4;
  --link-color: #d1cfca;
  --quote-color: #d1cfca;
  --error-color: #e37777;
  --success-color: #79a071;
  --highlight-color-bg: #593538;
  --highlight-color: #f4f4f4;
  --hr-border: 1px solid #4e4e4e;
  --code-bg: #121712;
  --button-bg: #2c3a2d;
  --button-color: #f9f9f9;
  --button-border: 1px solid #536e55;
  --button-focus-outline: 2px solid #97b799;
  --button-disabled-bg: #2e3b2f;
  --button-disabled-color: #86a980;
  --button-disabled-border: #373737;
  --button-danger-bg: #7c2b2b;
  --button-danger-color: #fff;
  --input-bg: #161916;
  --input-border: 1px solid #4e4e4e;
  --input-color: #c5c2bc;
  --input-focus-outline: 1px solid #c5c2bc;
  --input-disabled-bg: #444040;
  --input-disabled-color: #bcb8b1;
  --input-placeholder-color: #8e8e8e;
  --input-focus-placeholder-color: #555;
  --chat-input-bg: #242424;
  --chat-input-border: 1px solid #444;
  --autocomplete-bg: #404040;
  --autocomplete-border: 1px solid #888;
  --autocomplete-focus-bg: #222;
  --ts-color: #999;
  --sidebar-left-bg: #596a59;
  --sidebar-left-frozen-color: #a7d4aa;
  --sidebar-left-text: #f8f8f8;
  --sidebar-left-outline: #8ece93 auto 3px;
  --sidebar-left-border-bottom: #fefefe;
  --sidebar-left-search-placeholder-color: #f3f2f1;
  --sidebar-left-search-focus-bg: #2d3c2c;
  --sidebar-right-bg: var(--body-bg);
  --sidebar-right-text: var(--text-color);

  /*
   * Atom One Dark by Daniel Gamage
   * Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
   */
  --syntax-hl-base: #abb2bf;
  --syntax-hl-base-bg: #2e312e;
  --syntax-hl-addition: #98c379;
  --syntax-hl-attr: #d19a66;
  --syntax-hl-attribute: #98c379;
  --syntax-hl-built-in: #e6c07b;
  --syntax-hl-bullet: #61aeee;
  --syntax-hl-comment: #8b9f9a;
  --syntax-hl-deletion: var(--syntax-hl-base);
  --syntax-hl-doctag: #c678dd;
  --syntax-hl-formula: #c678dd;
  --syntax-hl-keyword: #c678dd;
  --syntax-hl-link: #61aeee;
  --syntax-hl-literal: #56b6c2;
  --syntax-hl-meta-string: #98c379;
  --syntax-hl-meta: #61aeee;
  --syntax-hl-name: #e06c75;
  --syntax-hl-number: #d19a66;
  --syntax-hl-quote: #5c6370;
  --syntax-hl-regexp: #98c379;
  --syntax-hl-section: #e06c75;
  --syntax-hl-selector-attr: #d19a66;
  --syntax-hl-selector-class: #d19a66;
  --syntax-hl-selector-id: #61aeee;
  --syntax-hl-selector-pseudo: #d19a66;
  --syntax-hl-selector-tag: #e06c75;
  --syntax-hl-string: #98c379;
  --syntax-hl-subst: #e06c75;
  --syntax-hl-symbol: #61aeee;
  --syntax-hl-template-variable: #d19a66;
  --syntax-hl-title: #61aeee;
  --syntax-hl-type: #d19a66;
  --syntax-hl-variable: #d19a66;
}

body.for-cms {
  --footer-bg: #252525;
}
