{
  "swagger": "2.0",
  "info": {
    "version": "0.87",
    "title": "Convos API specification",
    "description": "This document describes the API for Convos, a multiuser persistent IRC proxy with web interface.",
    "contact": {
      "name": "Convos",
      "url": "https://github.com/Nordaaker/convos"
    },
    "license": {
      "name": "Artistic License version 2.0",
      "url": "http://opensource.org/licenses/Artistic-2.0"
    },
    "termsOfService": "SSL (HTTPS) is highly suggested, since login credentials and session cookies are transmitted over this API."
  },
  "host": "demo.convos.by",
  "basePath": "/1.0",
  "schemes": [ "http" ],
  "parameters": {
    "connection_id": {
      "name": "connection_id",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "A friendly name of the server"
    },
    "room_id": {
      "name": "room_id",
      "in": "path",
      "default": "",
      "required": false,
      "type": "string",
      "description": "The name of the person/chat room"
    },
    "email": {
      "name": "ident",
      "in": "body",
      "required": true,
      "type": "string",
      "format": "email",
      "description": "User email"
    },
    "ident": {
      "name": "ident",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "User email or server identity"
    },
    "session": {
      "name": "X-Convos-Session",
      "in": "header",
      "type": "string",
      "description": "TODO. Use cookies for now."
    }
  },
  "paths": {
    "/avatar/{connection_id}/{ident}": {
      "get": {
        "tags": [ "user" ],
        "summary": "Get avatar for a user.",
        "description": "Note: The response is not a JSON formatted document, but rather just the image data.",
        "x-mojo-controller": "Convos::Controller::User",
        "operationId": "avatar",
        "parameters": [
          { "$ref": "#/parameters/connection_id" },
          { "$ref": "#/parameters/ident" }
        ],
        "responses": {
          "200": {
            "description": "Image.",
            "schema": {
              "type": "object",
              "properties": {
                "body": {
                  "type": "string",
                  "description": "Image binary data"
                }
              }
            }
          },
          "default": {
            "description": "Error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      }
    },
    "/command/{connection_id}/{room_id}": {
      "post": {
        "tags": [ "chat" ],
        "summary": "Send a command to the server.",
        "x-mojo-controller": "Convos::Controller::Chat",
        "operationId": "command",
        "parameters": [
          { "$ref": "#/parameters/connection_id" },
          { "$ref": "#/parameters/room_id" },
          { "$ref": "#/parameters/session" }
        ],
        "responses": {
          "200": {
            "schema": { "$ref": "#/definitions/Command" }
          },
          "default": {
            "description": "Error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      }
    },
    "/command/history": {
      "get": {
        "tags": [ "chat" ],
        "summary": "Get last commands sent to the server.",
        "description": "Commands are automatically added to the history once sent over to the server.",
        "x-mojo-controller": "Convos::Controller::Chat",
        "operationId": "commandHistory",
        "parameters": [
          { "$ref": "#/parameters/session" }
        ],
        "responses": {
          "200": {
            "description": "List of commands.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Command" }
            }
          },
          "default": {
            "description": "Error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      }
    },
    "/commands": {
      "get": {
        "tags": [ "chat" ],
        "summary": "Get list of available ommands.",
        "x-mojo-controller": "Convos::Controller::Chat",
        "operationId": "commandList",
        "parameters": [],
        "responses": {
          "200": {
            "description": "List of commands.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Command" }
            }
          },
          "default": {
            "description": "Error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      }
    },
    "/connection": {
      "post": {
        "tags": [ "connection" ],
        "summary": "Add a connection.",
        "x-mojo-controller": "Convos::Controller::Connection",
        "operationId": "connectionAdd",
        "parameters": [
          { "$ref": "#/parameters/session" },
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Connection" }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection information.",
            "schema": {
              "$ref": "#/definitions/Connection"
            }
          },
          "default": {
            "description": "Error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      }
    },
    "/connection/{connection_id}": {
      "delete": {
        "tags": [ "connection" ],
        "summary": "Delete a connection and all assosiated data.",
        "x-mojo-controller": "Convos::Controller::Connection",
        "operationId": "connectionDelete",
        "parameters": [
          { "$ref": "#/parameters/connection_id" },
          { "$ref": "#/parameters/session" }
        ],
        "responses": {
          "200": {
            "description": "Delete a connection.",
            "schema": {}
          },
          "default": {
            "description": "Error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      },
      "get": {
        "tags": [ "connection" ],
        "summary": "Get information about a connection.",
        "x-mojo-controller": "Convos::Controller::Connection",
        "operationId": "connection",
        "parameters": [
          { "$ref": "#/parameters/connection_id" },
          { "$ref": "#/parameters/session" }
        ],
        "responses": {
          "200": {
            "description": "A single connection.",
            "schema": {
              "$ref": "#/definitions/Connection"
            }
          },
          "default": {
            "description": "Error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      },
      "post": {
        "tags": [ "connection" ],
        "summary": "Update a connection.",
        "x-mojo-controller": "Convos::Controller::Connection",
        "operationId": "connectionUpdate",
        "parameters": [
          { "$ref": "#/parameters/connection_id" },
          { "$ref": "#/parameters/session" },
          {
            "name": "data",
            "in": "body",
            "schema": { "$ref": "#/definitions/Connection" }
          }
        ],
        "responses": {
          "200": {
            "description": "Update a connection.",
            "schema": {}
          },
          "default": {
            "description": "Error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      }
    },
    "/connections": {
      "get": {
        "tags": [ "connection" ],
        "summary": "Get all the connections for a user.",
        "x-mojo-controller": "Convos::Controller::Connection",
        "operationId": "connections",
        "parameters": [
          { "$ref": "#/parameters/session" }
        ],
        "responses": {
          "200": {
            "description": "List of connections.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Connection" }
            }
          },
          "default": {
            "description": "Error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      }
    },
    "/room/{connection_id}/{room_id}": {
      "get": {
        "tags": [ "room" ],
        "summary": "Get a list of messages.\n\nNote: this resource require the user to be authenticated first.",
        "x-mojo-controller": "Convos::Controller::Chat",
        "operationId": "room",
        "parameters": [
          { "$ref": "#/parameters/connection_id" },
          { "$ref": "#/parameters/room_id" }
        ],
        "responses": {
          "200": {
            "description": "List of messsages.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Message" }
            }
          },
          "default": {
            "description": "Internal server error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      }
    },
    "/rooms": {
      "get": {
        "tags": [ "room" ],
        "summary": "Get a list of all rooms.",
        "x-mojo-controller": "Convos::Controller::Chat",
        "operationId": "rooms",
        "parameters": [
          { "$ref": "#/parameters/session" }
        ],
        "responses": {
          "200": {
            "description": "List of messsages.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Room" }
            }
          },
          "default": {
            "description": "Internal server error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "tags": [ "chat" ],
        "summary": "Get list of notications.",
        "description": "A notification is added once your name is mentioned in a chat or someone sends a direct message.",
        "x-mojo-controller": "Convos::Controller::Chat",
        "operationId": "notifications",
        "parameters": [
          { "$ref": "#/parameters/session" }
        ],
        "responses": {
          "200": {
            "description": "List of commands.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Notification" }
            }
          },
          "default": {
            "description": "Error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      }
    },
    "/notifications/seen": {
      "post": {
        "tags": [ "chat" ],
        "summary": "Mark a notication as seen.",
        "description": "TODO: Notification count vs red/green toggling of a single notification.",
        "x-mojo-controller": "Convos::Controller::Chat",
        "operationId": "notificationSeen",
        "parameters": [
          { "$ref": "#/parameters/session" },
          {
            "name": "data",
            "in": "body",
            "type": "array",
            "description": "List of notification IDs.",
            "items": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of commands.",
            "schema": {
              "type": "array",
              "items": { "$ref": "#/definitions/Notification" }
            }
          },
          "default": {
            "description": "Error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      }
    },
    "/user": {
      "delete": {
        "tags": [ "user" ],
        "summary": "Delete a user.",
        "x-mojo-controller": "Convos::Controller::User",
        "operationId": "userDelete",
        "parameters": [
          { "$ref": "#/parameters/session" }
        ],
        "responses": {
            "200": {
            "description": "Successfully deleted.",
            "schema": { "$ref": "#/definitions/Success" }
          },
          "default": {
            "description": "Error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      },
      "get": {
        "tags": [ "user" ],
        "summary": "Get user data.",
        "x-mojo-controller": "Convos::Controller::User",
        "operationId": "user",
        "parameters": [
          { "$ref": "#/parameters/session" }
        ],
        "responses": {
          "200": {
            "description": "User profile.",
            "schema": { "$ref": "#/definitions/User" }
          },
          "default": {
            "description": "Error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      },
      "post": {
        "tags": [ "user" ],
        "summary": "Update an existing user.",
        "x-mojo-controller": "Convos::Controller::User",
        "operationId": "userSave",
        "parameters": [
          { "$ref": "#/parameters/session" },
          {
            "name": "data",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "avatar": { "type": "string", "description": "User avatar" },
                "password": { "type": "string", "description": "User password", "minLength": 6 }
              }
            }
          }
        ],
        "responses": {
            "200": {
            "description": "User profile.",
            "schema": { "$ref": "#/definitions/User" }
          },
          "default": {
            "description": "Error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      }
    },
    "/user/authenticate": {
      "post": {
        "tags": [ "user" ],
        "summary": "Authenticate a user based on email and password.",
        "x-mojo-controller": "Convos::Controller::User",
        "operationId": "userAuthenticate",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "schema": {
              "type": "object",
              "required": true,
              "properties": {
                "email": { "type": "string", "format": "email", "required": true, "description": "User email" },
                "password": { "type": "string", "required": true, "description": "User password" }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User profile.",
            "schema": { "$ref": "#/definitions/User" }
          },
          "default": {
            "description": "Error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      }
    },
    "/user/register": {
      "post": {
        "tags": [ "user" ],
        "summary": "Register a new user.",
        "x-mojo-controller": "Convos::Controller::User",
        "operationId": "userRegister",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "avatar": { "type": "string", "description": "User avatar" },
                "email": { "type": "string", "required": true, "format": "email", "description": "User email" },
                "password": { "type": "string", "required": true, "minLength": 6, "description": "User password" }
              }
            }
          }
        ],
        "responses": {
            "200": {
            "description": "User profile.",
            "schema": { "$ref": "#/definitions/User" }
          },
          "default": {
            "description": "Error.",
            "schema": { "$ref": "#/definitions/Error" }
          }
        }
      }
    }
  },
  "definitions": {
    "Command": {
      "required": [ "id", "command" ],
      "properties": {
        "id": { "type": "string" },
        "command": { "type": "string" }
      }
    },
    "Connection": {
      "required": [ "connection_id", "server", "nick" ],
      "properties": {
         "connection_id": { "type": "string" },
         "nick": { "type": "string" },
         "password": { "type": "string" },
         "server": { "type": "string" },
         "username": { "type": "string" }
      }
    },
    "Room": {
      "properties": {
      }
    },
    "Error": {
      "required": [ "code", "message" ],
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "message": { "type": "string" },
            "path": { "type": "string" }
          }
        }
      }
    },
    "Message": {
      "required": [ "id", "timestamp", "message" ],
      "properties": {
        "id": { "type": "string" },
        "timestamp": { "type": "integer", "format": "int32" },
        "message": { "type": "string" }
      }
    },
    "Notification": {
      "required": [ "id", "timestamp", "message" ],
      "properties": {
        "id": { "type": "string" },
        "timestamp": { "type": "integer", "format": "int32" },
        "message": { "type": "string" }
      }
    },
    "Rel": {
      "required": [ "rel", "href" ],
      "properties": {
        "rel": { "type": "string" },
        "href": { "type": "string", "format": "url" }
      }
    },
    "Success": {
      "properties": {
        "message": { "type": "string" },
        "links": {
          "type": "array",
          "items": { "$ref": "#/definitions/Rel" }
        }
      }
    },
    "User": {
      "properties": {
        "email": { "type": "string" },
        "avatar": { "type": "string" },
        "registered": { "type": "integer" },
        "links": {
          "type": "array",
          "items": { "$ref": "#/definitions/Rel" }
        }
      }
    }
  }
}
