.chat-header {
  @extend %next-to-sidebar;

  background: var(--body-bg);
  padding-top: var(--gutter);
  padding-bottom: var(--gutter-small);
  box-shadow: 0 4px 5px -3px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  top: 0;
  z-index: 900;

  @include if_screen("<=two-columns") {
    background: var(--sidebar-left-bg);
    color: var(--sidebar-left-text);
    padding-top: var(--gutter-small);
    border-bottom: 0;
  }

  > * {
    display: block;
  }

  .btn {
    @extend .is-hallow;
    @extend .is-narrow;
    font-size: 1.1rem;
    margin-right: -0.5rem;
    align-self: center;
  }

  h1 {
    margin: 0;
    white-space: pre;
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 0;

    @include if_screen("<=two-columns") {
      flex: 1 0 0;
    }
  }

  @include if_screen("<=two-columns") {
    a,
    .btn {
      color: var(--sidebar-left-text);
    }

    .has-tooltip[data-tooltip]:after {
      display: none;
    }
  }

  .chat-header__topic {
    font-size: 0.9rem;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: pre;
    padding-right: 0.2rem; // Fix that weird cutoff becuase of italic font-style and overflow rules
    overflow: hidden;
    flex: 1 0 0;

    &::before {
      content: '';
      padding-right: 1rem;
    }

    @include if_screen("<=two-columns") {
      display: none;
    }
  }

  .has-tooltip[data-tooltip]:focus:after,
  .has-tooltip[data-tooltip]:hover:after {
    left: 50%;
    transform: translateX(-50%);
  }
}

.btn.is-hamburger {
  @include if_screen(">two-columns") {
    display: none;
  }
}
