.chat-input {
  @extend %next-to-sidebar;
  background: var(--chat-input-bg);
  margin-top: var(--gutter);
  margin-bottom: 4px;
  border: var(--chat-input-border);
  border-radius: var(--chat-input-border-radius);
  padding-top: 3px; // Try to make room for the box-shadow
  display: flex;
  bottom: 0;
  z-index: 3;

  @include if_screen("<=two-columns") {
    margin-bottom: 0;
    border-radius: 2px;
  }

  @include if_screen(">two-columns") {
    padding-right: 0.5rem;
  }

  textarea {
    background: transparent;
    color: var(--text-color);
    border: 0;
    height: 3.2em;
    padding: var(--gutter-small) 0;
    width: 100%;
    display: block;
    resize: none;

    &::placeholder {
      color: var(--text-color);
      font-size: 1.1rem;
      font-weight: 400;
    }

    &:focus {
      outline: 0;
    }
  }

  .btn,
  .upload {
    @extend .btn.is-hallow;
    @extend .btn.is-narrow;
    font-size: 1.3rem;
    top: 0.1rem;
    position: relative;
  }
}

.chat-input_autocomplete {
  background: var(--autocomplete-bg);
  border: var(--autocomplete-border);
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: -1px;
  min-width: 50%;
  max-width: 30em;
  opacity: 0.95;
  position: absolute;
  bottom: 100%;

  a {
    color: var(--input-color);
    text-decoration: none;
    padding: 0.2em 0.5em;
    display: block;

    &.has-focus {
      background: var(--autocomplete-focus-bg);
    }
  }

  img {
    height: 1.5em;
  }
}

.chat-input_autocomplete_emojis {
  a {
    display: inline-block;

    &:first-of-type {
      display: block;
    }
  }
}
