.chat-input {
  @extend %next-to-sidebar;
  background: var(--body-bg);
  margin-top: var(--gutter);
  margin-bottom: 4px;
  box-shadow: 0px 1px 2px 1px inset rgba(0,0,0,.2);
  border-radius: 8px;
  display: flex;
  bottom: 0;
  z-index: 3;

  textarea {
    background: transparent;
    color: var(--text-color);
    border: 0;
    height: 3.5em;
    padding: var(--gutter-small) 0;
    width: 100%;
    display: block;
    resize: none;

    &::placeholder {
      color: var(--input-placeholder-color);
      font-size: 1.2rem;
      font-weight: 400;
    }

    &:focus {
      outline: 0;

      &::placeholder {
        color: var(--input-focus-placeholder-color);
      }
    }
  }
}

.chat-input_autocomplete {
  background: var(--autocomplete-bg);
  border: var(--autocomplete-border);
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: -1px;
  min-width: 50%;
  max-width: 30em;
  opacity: 0.95;
  position: absolute;
  bottom: 100%;

  a {
    color: var(--input-color);
    text-decoration: none;
    padding: 0.2em 0.5em;
    display: block;

    &.has-focus {
      background: var(--autocomplete-focus-bg);
    }
  }

  img {
    height: 1.5em;
  }
}

.chat-input_autocomplete_emojis {
  a {
    display: inline-block;

    &:first-of-type {
      display: block;
    }
  }
}

.chat-input__upload-wrapper,
.chat-input__send {
  font-size: 1.5rem;
  padding: 0.5em var(--gutter-small);
  display: block;

  @include if_screen("<=two-columns") {
    padding-right: 0;
  }
}

.chat-input__upload-wrapper {
  width: 3rem;
  overflow: hidden;
  position: relative;

  input {
    opacity: 0;
    position: absolute;
    top: var(--gutter-small);
    right: 0;
    bottom: var(--gutter-small);
    right: 0;
    cursor: pointer;
  }

  span:after {
    @extend .fas;
    content: fa-content($fa-var-cloud-upload-alt);
    color: var(--link-color);
    text-align: center;
    display: block;
    position: absolute;
    pointer-events: none;
  }
}
