html,
body {
  padding: 0;
  margin: 0;
}

body.no-js .if-js {
  display: none;
}

.main-app-pane {
  padding-bottom: ($gutter * 2);

  &.without-padding {
    padding-bottom: 0;
  }
}

.align-content-middle {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
