html,
body {
  padding: 0;
  margin: 0;
}

body.no-js {
  .if-js {
    display: none;
  }
}

.hide {
  display: none !important;
}

.error,
.loading {
  border: 1px solid transparent;
  padding: 0.5rem;
  margin: $gutter 0;
}

.error {
  background: #f7eaea;
  color: #900;
  border-color: #a26464;
}

.loading {
  background: #eceeff;
  color: #009;
  border-color: #b6b9d2;
}

.main-app-pane {
  @extend .next-to-sidebar;
  max-width: 48rem;
}

.align-content-middle {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}