html,
body {
  padding: 0;
  margin: 0;
}

body.no-js .if-js {
  display: none;
}

.main {
  padding: 0 $gutter ($gutter * 2) $gutter;
}

.header {
  margin-left: -$gutter;
  margin-right: -$gutter;
}

.sidebar-wrapper {
  width: $sidebar-width;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

.chat-input,
.header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.chat-input {
  top: auto;
  bottom: 0;
}

@include if_screen(">full") {
  .chat-input,
  .main {
    margin-left: calc(#{$sidebar-width} + #{$gutter});
    margin-right: $gutter;
    max-width: $breakpoint-max-width;
  }
}

@include if_screen("<=full") {
  .sidebar-wrapper {
    display: none;
    right: 0;
    left: auto;

    .sidebar__search {
      display: none;
    }

    &.is-visible {
      top: $nav-small-height * 0.9;
      display: block;
    }
  }
}
