.conversation-add-list {
  a {
    background-color: var(--body-bg);
    text-decoration: none;
    border-bottom: var(--hr-border);
    padding: 0.3rem 0.2rem;
    display: block;

    &:hover {
      filter: brightness(0.95);
    }
  }
}

.conversation-add-list__name {
  font-size: 1.1rem;
  text-decoration: underline;
  display: block;
}

.conversation-add-list__n-users {
  color: var(--text-color);
  text-align: right;
  float: right;
  opacity: 0.9;
  display: block;

  &:after {
    @extend .fas;
    content: fa-content($fa-var-user-friends);
    display: block;
  }
}

.conversation-add-list__title {
  color: var(--text-color);
  font-size: 0.9rem;
  margin-top: 0.2rem;
  display: block;
}
