.is-dragover:after,
.is-dragover:before {
  z-index: 1000;
  display: block;
  position: fixed;
  left: var(--sidebar-left-width);
  right: var(--sidebar-right-width);
  pointer-events: none;
}

.is-dragover:before {
  content: '';
  background-color: var(--body-bg);
  opacity: 0.8;
  top: 0;
  bottom: 0;
}

.is-dragover:after {
  @extend .fas;
  content: fa-content($fa-var-cloud-upload-alt);
  font-size: 5rem;
  text-align: center;
  top: 50%;
}
