@use '../vendors/fortawesome-fontawesome/mixins' as fa;

.drop-area {
  background-color: var(--body-bg);
  opacity: 0.8;
  position: fixed;
  z-index: 1000;
  pointer-events: none;

  &:after {
    @include fa.icon(upload-alt, solid);
    font-size: 5rem;
    text-align: center;
    width: 100%;
    position: relative;
    top: calc(50% - 2rem);
  }
}
