input {
  font-family: inherit;
  font-size: inherit;
  color: $input-color;
}

.checkbox,
.text-field {
  margin-bottom: 0.8rem;
  max-width: 24em;
}

.checkbox {
  i {
    cursor: pointer;
    font-size: 1.2rem;
  }

  label {
    cursor: pointer;
  }

  input {
    position: absolute;
    left: -1000px;
    opacity: 0;
  }

  &.is-disabled {
    i,
    label {
      color: lighten($input-color, 10%);
      cursor: not-allowed;
    }
  }
}

.text-field {
  label {
    color: darken($input-border-color, 12%);
    font-size: inherit;
    line-height: 1em;
    display: block;

    span {
      background: $body-bg;
      padding: 0 3px;
      display: inline-block;
      position: relative;
      top: 0.3em;
      left: 0.4em;
    }
  }

  input {
    background: $input-bg;
    line-height: 2.2em;
    height: 2.2em;
    padding: 0.2em 0.5em;
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius;
    box-shadow: inset -1px 1px 3px rgba(0, 0, 0, 0.1), -1px 1px 2px rgba(0, 0, 0, 0.1);
    width: 100%;
    display: block;

    &::placeholder {
      color: $input-placeholder-color;
    }

    &:focus {
      outline: 2px solid $input-border-color;
      outline-offset: -2px;
    }

    &[readonly] {
      background: darken($input-bg, 1%);
      color: lighten($input-color, 10%);
      outline: 0 !important;
      cursor: not-allowed;
    }
  }

  &:hover {
    label {
      color: darken($input-border-color, 15%);
    }

    input {
      outline: 2px solid lighten($input-border-color, 10%);
      outline-offset: -2px;
    }
  }
}

.form-actions {
  margin-top: $gutter;
  padding: $gutter / 2 0;

  > * {
    vertical-align: middle;
  }
}

.btn {
  background: darken($theme-color, 20%);
  color: white;
  font-weight: 500;
  font-size: inherit;
  text-decoration: none;
  padding: 0.6em 1em;
  height: 2.4em;
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.1);
  display: inline-block;
  cursor: pointer;

  &:focus,
  &:hover {
    background: darken($theme-color, 10%);
    box-shadow: -1px 1px 4px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    outline: 2px auto lighten($theme-color, 20%);
    outline-offset: -2px;
  }
}