.header {
  background: var(--body-bg);
  border-bottom: 1px solid #aaa;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
  padding: 0 var(--gutter);
  padding-bottom: 0;
  margin-bottom: var(--gutter);
  min-height: var(--nav-regular-height);
  max-height: var(--nav-regular-height);
  position: relative;

  h1,
  small {
    line-height: var(--nav-regular-height);
  }

  h1 {
    margin: 0;
    float: left;
    cursor: pointer;

    @include if_screen("<=full") {
      margin-left: 2rem;
    }
  }

  small {
    font-size: 0.9rem;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: pre;
    margin-right: 2rem;
    overflow: hidden;
    display: block;

    &::before {
      content: '';
      padding-right: 1rem;
    }
  }

  form {
    padding: var(--gutter) 0;
    clear: both;
  }

  @include if_screen("<=full") {
    background: var(--sidebar-bg);
    color: var(--sidebar-text);
    border-bottom: 0;
    min-height: var(--nav-small-height);
    max-height: var(--nav-small-height);

    h1,
    small {
      line-height: var(--nav-small-height);
    }
  }
}

.header__hamburger,
.header__toggle {
  color: inherit;
  font-size: 1.4rem;
  position: absolute;
  right: var(--gutter);
  top: 1.8rem;

  i {
    transition: transform 0.3s;
  }
}

.header__hamburger {
  display: none;
}

@include if_screen("<=full") {
  .header__hamburger,
  .header__toggle {
    display: block;
    top: 0.7rem;
  }

  .header__toggle {
    right: auto;
    left: var(--gutter);
  }
}

.header.has-visible-settings {
  border-bottom: 1px solid #aaa;
  max-height: 100vh;
  box-shadow: 0 4px 3px -2px rgba(50, 50, 50, 0.14);

  .header__toggle i {
    transform: rotate(180deg);
  }
}
