body.with-grid::after {
  content: '';
  background-image: repeating-linear-gradient(0deg, #f00 0px, #f00 1px, transparent 1px, transparent 21px);
  background-size: 40px 40px;
  background-position-y: 0px;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  opacity: 0.4;
}

.error,
.loading {
  border: 1px solid transparent;
  padding: 0.5rem;
  margin: var(--gutter) 0;
}

.error {
  background: var(--button-danger-bg);
  color: var(--button-danger-color);
}

.fade-in {
  opacity: 0.2;
  transition: opacity 250ms ease-in-out;

  &.is-visible {
    opacity: 1;
  }
}

.non-interactive {
  opacity: 0;
  position: absolute;
  left: -1000px;
  pointer-events: none;
  z-index: -1;
}

.pull-right {
  float: right;
}

.text-center {
  text-align: center;
}

@include if_screen("<=two-columns") {
  .hidden-sm {
    display: none;
  }
}

@include if_screen(">two-columns") {
  .visible-sm {
    display: none;
  }
}
