body.with-grid::after {
  content: '';
  background-image: repeating-linear-gradient(0deg, #f00 0px, #f00 1px, transparent 1px, transparent 21px);
  background-size: 40px 40px;
  background-position-y: 0px;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  opacity: 0.4;
}

.error,
.loading {
  border: 1px solid transparent;
  padding: 0.5rem;
  margin: var(--gutter) 0;
}

.error {
  background: var(--button-danger-bg);
  color: var(--button-danger-color);
}

.fade-in {
  opacity: 0.2;
  transition: opacity 250ms ease-in-out;

  &.is-visible {
    opacity: 1;
  }
}

%tooltip-popup {
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.1em;
  border-radius: 3px;
  padding: 3px;
  opacity: 0;
  display: block;
  position: absolute;
  left: -1000px;
  transition: opacity 250ms ease-in-out;
}

%tooltip-popup-visible {
  background: var(--tooltip-background);
  color: var(--tooltip-color);
  opacity: 0.85;
  left: auto;
  z-index: 1000;
}

.has-tooltip {
  position: relative;
}

.has-tooltip[data-content] {
  &:before {
    content: attr(data-content);
  }

  > div {
    @extend %tooltip-popup;
  }

  &:focus > div,
  &:hover > div {
    @extend %tooltip-popup-visible;
  }
}

.has-tooltip[data-tooltip]:after {
  content: attr(data-tooltip);
  @extend %tooltip-popup;

  &:focus,
  &:hover {
    @extend %tooltip-popup-visible;
  }
}
