.hero--wrapper {
  background: var(--sidebar-left-bg);
}

.hero {
  margin: 0 auto;
  padding: var(--gutter);
  max-width: var(--content-max-width);

  nav {
    display: flex;
    justify-content: space-between;
  }

  &,
  a {
    color: var(--sidebar-left-text);
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.hero__header {
  margin-bottom: 1rem;
}

.hero__tagline {
  margin: 0.5rem 0;
}

.hero__body {
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.hero__footer {
  margin-top: 1rem;
}

@include if_screen(">two-columns") {
  .hero {
    padding-top: 2rem;
    display: flex;
    align-items: center;
  }

  .hero__text {
    padding-top: var(--gutter);
    padding-footer: var(--gutter);
  }
}
