.json-item .json-item {
  border-left: 1px solid #666;
  margin-left: 0.2rem;
  padding-left: 0.3rem;
}

.json-boolean {
  background-color: var(--syntax-hl-variable-bg);
  color: var(--syntax-hl-variable);
}

.json-key {
  font-weight: bold;
}

.json-key:after {
  content: ': ';
  background-color: var(--syntax-hl-keyword-bg);
  color: var(--syntax-hl-keyword);
}

.json-null,
.json-number,
.json-string {
  background-color: var(--syntax-hl-string-bg);
  color: var(--syntax-hl-string);
}
