.main-header {
  background: $body-bg;
  border-bottom: 1px solid #aaa;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.1);
  padding: $gutter ($gutter / 2);
  padding-bottom: 0.2rem;
  margin: 0 (-$gutter / 2);
  margin-bottom: $gutter;
  position: sticky;
  top: 0;
  z-index: 2;
  overflow: hidden;

  h1 {
    margin: 0;
    float: left;
  }

  small {
    font-size: 0.9rem;
    font-style: italic;
    display: block;
    padding-top: 0.9rem;

    &::before {
      content: '';
      padding-right: 1rem;
    }
  }
}

.main-header_toggle {
  font-size: 1.2rem;
  position: absolute;
  right: $gutter / 2;
  top: 2rem;

  i {
    &:before,
    &:after {
      transition: opacity 0.25s ease-in-out, transform 0.4s ease-in-out;
    }

    &:before {
      opacity: 1;
    }

    &:after {
      @extend .fas;
      content: fa-content($fa-var-times);
      opacity: 0;
      position: absolute;
      right: 2px;
    }
  }
}

.settings-pane {
  background: rgba(darken($body-bg, 1%), 0.95);
  border: 1px solid $input-border-color;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
  padding: $gutter;
  padding-top: 0;
  margin: 0 (-$gutter / 2);
  width: 100%;
  max-width: calc(#{$main-max-width} + #{$gutter});
  position: fixed;
  top: 4.3rem;
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
  z-index: 1;

  &.for-dialog {
    text-align: right;
    padding-top: 1rem;
  }
}

.has-visible-settings {
  .main-header_toggle {
    i:before {
      opacity: 0;
      transform: rotate(180deg);
    }

    i:after {
      opacity: 1;
      transform: rotate(180deg);
    }
  }

  .settings-pane {
    transform: rotateX(0deg);
  }
}
