.message {
  position: relative;
  margin-bottom: 0.2rem;

  &:last-of-type {
    padding-bottom: 5rem;
  }

  .message_link {
    text-decoration: none;
  }

  .message_text {
    margin-bottom: 0.4rem;

    a {
      color: $text-color;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .ts {
    color: lighten($text-color, 10%);
    font-size: 0.9rem;
    font-weight: normal;
    padding: 0.1rem;
    float: right;
  }
}