.message {
  position: relative;
  margin-bottom: 0.2rem;

  &:last-of-type {
    padding-bottom: 4rem;
  }

  .message_from {
    text-decoration: none;
  }

  .message_text {
    margin-bottom: 0.4rem;

    a {
      color: $text-color;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .ts {
    color: lighten($text-color, 10%);
    font-size: 0.9rem;
    font-weight: normal;
    padding: 0.1rem;
    float: right;
  }

  &.is-same {
    .message_from {
      display: none;
    }

    .ts {
      opacity: 0;
      transition: opacity 0.5s;
    }

    &:hover .ts {
      opacity: 0.8 ease-in-out;
    }
  }
}

.settings-pane {
  background: rgba(darken($body-bg, 1%), 0.95);
  border: 1px solid $input-border-color;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
  padding: $gutter;
  padding-top: 0;
  margin: 0 (-$gutter / 2);
  width: 100%;
  max-width: calc(48rem + #{$gutter});
  position: fixed;
  top: 4.3rem;
  transform: rotateX(90deg);
  transform-origin: top;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

.main-header_settings-toggle {
  font-size: 0.6em;
  position: absolute;
  right: $gutter / 2;
  bottom: 0.6rem;

  i {
    &:before,
    &:after {
      transition: opacity 0.25s ease-in-out, transform 0.4s ease-in-out;
    }

    &:before {
      opacity: 1;
    }

    &:after {
      @extend .fas;
      content: fa-content($fa-var-times);
      opacity: 0;
      position: absolute;
      right: 2px;
    }
  }
}

.state-icon {
  &.fa-check-circle {
    color: $success;
  }

  &.fa-circle-notch {
    animation: rotate 1.2s linear infinite;
  }

  &.fa-sync-alt {
    animation: rotate 1.2s linear infinite;
  }

  &.fa-unlink {
    color: $error;
  }
}

.form-actions .state-icon {
  font-size: 1.4rem;
  padding: 0.3rem;
}

.main-header .state-icon {
  font-size: 0.95rem;
  position: absolute;
  right: 2.2rem;
  bottom: 1.15rem;
}

.has-visible-settings {
  .main-header_settings-toggle {
    i:before {
      opacity: 0;
      transform: rotate(180deg);
    }

    i:after {
      opacity: 1;
      transform: rotate(180deg);
    }
  }

  .settings-pane {
    transform: rotateX(0deg);
  }
}