.messages {
  max-width: 48rem;
  padding-bottom: 4rem;

  > h1 {
    background: $body-bg;
    border-bottom: 1px solid #aaa;
    padding: ($gutter / 2);
    padding-bottom: 0.2rem;
    margin: 0 (-$gutter / 2);
    margin-bottom: $gutter;
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.messages_message {
  position: relative;
  margin-bottom: 0.2rem;

  > a {
    text-decoration: none;
  }

  > div {
    margin-bottom: 0.4rem;

    a {
      color: $text-color;

      &:hover {
        text-decoration: none;
      }
    }
  }

  > .ts {
    color: lighten($text-color, 10%);
    font-size: 0.9rem;
    font-weight: normal;
    padding: 0.1rem;
    float: right;
  }
}

.messages_subject {
  small {
    font-size: 0.9rem;
    font-style: italic;
    display: none;

    &.has-subject {
      display: inline-block;

      &:before {
        content: ' - ';
      }
    }
  }
}