.messages-container {
  min-height: calc(100vh - 11rem); // TODO: Make 11rem more dynamic
}

.message {
  position: relative;
  margin-bottom: 0.2rem;

  .emojione {
    height: 1.5rem;
    vertical-align: bottom;
  }

  .message_from {
    text-decoration: none;
  }

  .message_text {
    margin-bottom: 0.4rem;

    a {
      color: $text-color;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .ts {
    color: lighten($text-color, 10%);
    font-size: 0.9rem;
    font-weight: normal;
    padding: 0.1rem;
    float: right;
  }

  &.is-hightlighted {
    background-color: #ffd7db;
  }

  &.is-same {
    .message_from {
      display: none;
    }

    .ts {
      opacity: 0;
      transition: opacity 0.5s;
    }

    &:hover .ts {
      opacity: 0.8 ease-in-out;
    }
  }
}

.state-icon {
  &.fa-check-circle {
    color: $success;
  }

  &.fa-circle-notch {
    animation: rotate 1.2s linear infinite;
  }

  &.fa-sync-alt {
    animation: rotate 1.2s linear infinite;
  }

  &.fa-unlink {
    color: $error;
  }
}

.form-actions .state-icon {
  font-size: 1.4rem;
  padding: 0.3rem;
}

.chat-input {
  background: $input-bg;
  border-top: 1px solid $input-border-color;
  margin: ($gutter * 2) (-$gutter / 2) 0 (-$gutter / 2);
  max-width: calc(#{$main-max-width} + #{$gutter});
  display: flex;
  position: sticky;
  bottom: 0;

  textarea {
    background: transparent;
    border: 0;
    height: 3.5em;
    padding: $gutter / 2;
    width: 100%;
    display: block;
    resize: none;

    &::placeholder {
      color: $input-placeholder-color;
      font-size: 1.2rem;
      font-weight: 400;
    }

    &:focus {
      outline: 0;

      &::placeholder {
        color: $input-bg;
      }
    }
  }

  .btn-send {
    font-size: 1.5rem;
    padding: 0.5em $gutter / 2;
    display: block;
  }
}

.chat-input_autocomplete {
  background: rgba(darken($body-bg, 1%), 0.95);
  border: 1px solid $input-border-color;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: -1px;
  min-width: 50%;
  position: absolute;
  bottom: 100%;

  a {
    text-decoration: none;
    padding: 0.2em 0.5em;
    display: block;

    &.has-focus {
      background: darken($body-bg, 10%);
    }
  }

  img {
    height: 1.5em;
  }
}

.chat-input_autocomplete_emojis {
  a {
    display: inline-block;

    &:first-of-type {
      display: block;
    }
  }
}
