@use '../vendors/fortawesome-fontawesome/mixins' as fa;

.notify-notification {
  background: var(--notify-bg);
  color: var(--notify-color);
  padding: 0.8rem;
  border-radius: var(--notify-border-radius);
  box-shadow: var(--notify-box-shadow);
  position: fixed;
  top: 3.5rem;
  right: 1rem;
  width: 340px;
  max-width: 90vw;
  z-index: 1000;

  &,
  > * {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.notify-notification__close {
  font-size: 1.1rem;
  color: var(--notify-color);
  display: block;
  position: absolute;
  top: 0.6rem;
  right: 0.5rem;

  &:after {
    @include fa.icon(times-circle, solid);
  }
}

.notify-notification__title {
  font-size: 1rem;
  padding-right: 2rem;
  margin: 0;
  margin-bottom: 0.3rem;
}

.notify-notification__content {
  font-size: 0.9rem;
  margin: 0;
}

body.no-notify .notify-notification {
  display: none !important;
}
