@use '../abstracts/tooltip';

.has-tooltip {
  position: relative;
}

.has-tooltip[data-content] {
  &:before {
    content: attr(data-content);
  }

  > div {
    @include tooltip.popup;
  }

  &:focus > div,
  &:hover > div {
    @include tooltip.popup_visible;
  }
}

.has-tooltip[data-tooltip]:after {
  content: attr(data-tooltip);
  @include tooltip.popup;

  &:focus,
  &:hover {
    @include tooltip.popup_visible;
  }
}
