$sidebar-item-indent: 0.3rem;
$sidebar-item-dialog-indent: 0.6rem;
$sidebar-item-icon-width: 1.8rem;

.sidebar-wrapper {
  background: var(--sidebar-bg);
  padding: 0 var(--gutter) 6rem var(--gutter);
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &, a {
    color: var(--sidebar-text);
    text-decoration: none;
  }
}

.sidebar {
  &.is-chatting {
    h1 {
      margin: 0;
      margin-bottom: var(--gutter-small);
    }
  }

  &.is-logged-out {
    font-size: 1.1rem;
    padding: var(--gutter-big);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.sidebar__nav {
  a {
    line-height: 1.2rem;
    padding: $sidebar-item-indent 0.3rem;
    display: block;
    transition: background-color 0.15s ease-in-out;

    &:focus,
    &:hover {
      background: var(--sidebar-search-focus-bg);
      text-decoration: none;
      filter: brightness(0.9);
    }

    &.has-path {
      background: var(--sidebar-search-focus-bg);
    }

    &.has-focus {
      background: var(--sidebar-search-focus-bg);
    }
  }

  &.is-filtering {
    a.has-path {
      background: transparent;
    }
    a.has-focus {
      background: var(--sidebar-search-focus-bg);
    }
  }

  h3 {
    font-size: 0.9rem;
    font-weight: normal;
    border-bottom: 1px solid var(--sidebar-border-bottom);
    margin-bottom: 0.3rem;
    margin-top: var(--gutter);
  }
}

.sidebar__item {
  position: relative;

  &.has-settings {
    .sidebar__item__link {
      padding-left: $sidebar-item-icon-width + $sidebar-item-indent;
    }

    &:hover .sidebar__item__settings i:before {
      content: fa-content($fa-var-ellipsis-h);
    }
  }

  &.for-dialog {
    .sidebar__item__link {
      padding-left: $sidebar-item-icon-width + $sidebar-item-indent + $sidebar-item-dialog-indent;
    }

    .sidebar__item__settings {
      left: $sidebar-item-dialog-indent;
    }
  }
}

.sidebar__item__link {
  i {
    text-align: center;
    width: $sidebar-item-icon-width;
  }
}

.sidebar__item__settings {
  text-align: center;
  width: $sidebar-item-icon-width;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.sidebar__header {
  background: var(--sidebar-bg);
  padding-top: var(--gutter);
  display: block;
  position: sticky;
  top: 0;
  z-index: 2;

  h2,
  input {
    background: transparent;
    color: var(--sidebar-text);
    font-size: 2.4rem;
    line-height: 2.4rem;
    height: 2.4rem;
    width: 100%;
    border: 0;
    border-bottom: 2px solid transparent;
    margin-top: 0;
  }

  input {
    &::placeholder {
      color: var(--sidebar-text);
      font-weight: bold;
    }

    &:focus {
      outline: 0;
      border-bottom-color: var(--sidebar-text);

      &::placeholder {
        color: var(--sidebar-search-placeholder-color);
      }
    }
  }

  i {
    font-size: 1.8rem;
    position: absolute;
    right: 0;
    top: calc(var(--gutter) + 0.2rem);
    cursor: pointer;
  }

  &.for-settings {
    &:focus {
      outline: 0;

      i:before {
        outline: var(--sidebar-outline);
      }
    }
  }
}
