@mixin sidebarTypeIcon {
  @extend .fa;
  font-size: 1.1rem;
  text-align: center;
  padding-right: 0.3rem;
  width: 1.8rem;
  display: inline-block;
}

.sidebar-wrapper {
  background: var(--sidebar-bg);
  padding: var(--gutter);
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &, a {
    color: var(--sidebar-text);
    text-decoration: none;
  }
}

.sidebar {
  &.is-chatting {
    padding-bottom: 6rem;

    h1 {
      margin: 0;
      margin-bottom: var(--gutter-small);
    }
  }

  &.is-logged-out {
    font-size: 1.1rem;
    padding: var(--gutter-big);
    position: absolute;
    bottom: 0;
    left: 0;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  form {
    background: var(--sidebar-bg);
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

.sidebar__nav {
  a {
    line-height: 1.2rem;
    padding: 0.3rem 0.2rem;
    margin-left: -0.2rem;
    margin-right: -0.2rem;
    display: block;
    position: relative;

    &:before {
      @include sidebarTypeIcon;
    }

    &:focus,
    &:hover {
      background: var(--sidebar-search-focus-bg);
      text-decoration: none;
    }

    &.has-path {
      background: var(--sidebar-search-focus-bg);
    }

    &.has-focus {
      background: var(--sidebar-search-focus-bg);
    }
  }

  &.is-filtering {
    a.has-path {
      background: transparent;
    }
    a.has-focus {
      background: var(--sidebar-search-focus-bg);
    }
  }

  h2 {
    font-size: 0.9rem;
    font-weight: normal;
    border-bottom: 1px solid var(--sidebar-border-bottom);
    margin-bottom: 0.3rem;
    margin-top: var(--gutter);
  }

  ul ul a {
    padding-left: 0.6rem;
  }

  i.state-icon {
    font-size: 0.9rem;
    position: absolute;
    right: var(--gutter-small);
    top: 0.5rem;

    &.fa-check-circle {
      display: none;
    }

    &.fa-unlink {
      opacity: 0.5;
    }
  }
}

.sidebar__nav__account {
  i.fa,
  i.fas {
    @include sidebarTypeIcon;
    float: left;
  }
}

.sidebar__nav__conversations {
  &.is-channels a:before {
    content: fa-content($fa-var-user-friends);
  }

  &.is-private a:before {
    content: fa-content($fa-var-user);
  }

  .unread {
    color: var(--sidebar-bg);
    font-size: 0.9rem;
    line-height: 0.9rem;
    border-radius: 0.5em;
    padding: 0.15em 0.4em;
    position: absolute;
    top: 0.4em;
    right: 0.3em;
  }
}

.sidebar__nav__servers {
  > li > a:before {
    content: fa-content($fa-var-network-wired);
  }
}

.sidebar__search {
  position: relative;

  input {
    background: transparent;
    color: var(--sidebar-text);
    font-size: 2.4rem;
    border: 0;
    border-bottom: 2px solid transparent;
    width: 100%;

    &::placeholder {
      color: var(--sidebar-text);
      font-weight: bold;
    }

    &:focus {
      outline: 0;
      border-bottom-color: var(--sidebar-text);

      &::placeholder {
        color: var(--sidebar-search-placeholder-color);
      }
    }
  }

  i {
    font-size: 1.8rem;
    position: absolute;
    right: 0;
    top: 0.4em;
    cursor: pointer;
  }
}
