.sidebar-wrapper {
  background: $sidebar-bg;
  text-align: left;
  padding: $gutter;
  width: $sidebar-width;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  &, a {
    color: $sidebar-text;
    text-decoration: none;
  }
}

.sidebar {
  &.is-chatting {
    margin-top: -($gutter / 2);
    padding-bottom: ($gutter * 3);

    h1 {
      margin: 0;
      margin-bottom: -($gutter / 2);
    }
  }

  &.is-logged-out {
    font-size: 1.1rem;
    padding: $gutter * 2;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.sidebar__nav {
  a,
  h2 {
    padding: 0.3rem ($gutter / 2);
    margin-left: -($gutter / 2);
    margin-right: -($gutter / 2);
  }

  a {
    line-height: 1.2rem;
    display: block;
    position: relative;

    &:before {
      @extend .fa;
      font-size: 1.1rem;
      text-align: center;
      padding-right: 0.3rem;
      width: 1.8rem;
      display: inline-block;
    }

    &.is-heading {
      font-size: 1.1em;
      font-weight: 600;
    }

    &:focus,
    &:hover {
      background-color: darken($sidebar-bg, 6%);
      text-decoration: none;
    }

    &.has-path {
      background-color: darken($sidebar-bg, 4%);
    }
  }

  h2 {
    font-size: 0.9rem;
    font-weight: normal;
    border-bottom: 1px solid $sidebar-text;
    margin-bottom: 0.1rem;
    margin-top: $gutter;
  }
}

.sidebar__nav__conversations {
  &.is-channels a:before {
    content: fa-content($fa-var-user-friends);
  }

  &.is-private a:before {
    content: fa-content($fa-var-user);
  }

  .unread {
    background-color: darken($sidebar-bg, 4%);
    line-height: 1em;
    border: 1px solid lighten($sidebar-bg, 10%);
    border-radius: 50%;
    padding: 0.15em 0.4em;
    position: absolute;
    top: 0.2em;
    right: $gutter;
  }
}

.sidebar__nav__servers {
  > li > a:before {
    content: fa-content($fa-var-network-wired);
  }
}

.sidebar__nav__connections,
.sidebar__nav__help,
.sidebar__nav__join,
.sidebar__nav__logout,
.sidebar__nav__settings {
  &:before {
    @extend .fas;
    padding-right: 0.3rem;
  }
}

.sidebar__nav__connections:before {
  content: fa-content($fa-var-network-wired);
}

.sidebar__nav__help:before {
  content: fa-content($fa-var-question-circle);
}

.sidebar__nav__join:before {
  content: fa-content($fa-var-user-plus);
}

.sidebar__nav__logout:before {
  content: fa-content($fa-var-power-off);
}

.sidebar__nav__settings:before {
  content: fa-content($fa-var-cog);
}

.next-to-sidebar {
  margin-left: calc(#{$sidebar-width} + #{$gutter * 2});
  margin-right: $gutter;

  &.is-logged-out {
    margin-left: calc(#{$sidebar-width} + #{$gutter * 3});
    max-width: 38rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}