.welcome-screen {
  background: var(--sidebar-left-bg);
  background-position: 50% 100%;
  min-height: 100vh;

  @include if_screen(">three-columns") {
    background-position: left 50% bottom -30px;
  }

  @supports (background-blend-mode: darken) {
    background-image: url(../../images/20200328-nordaaker.jpg);
    background-attachment: fixed;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &, a {
    color: var(--sidebar-left-text);
  }

  h1,
  h2 {
    margin-top: 0;
  }

  .btn.is-hallow {
    color: var(--sidebar-left-text);
    border-color: var(--sidebar-left-bg);
  }

  article,
  footer,
  section {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    padding-top: 4rem;
    width: 42rem;
    max-width: 100%;
  }

  section {
    min-height: 80vh;
  }

  .welcome-screen__signin + .welcome-screen__signup {
    min-height: 80vh;
  }
}

.welcome-screen__about {
  h1 {
    font-size: 2.4rem;
    margin-bottom: 0;
  }
}

.welcome-screen__footer {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@include if_screen(">two-columns") {
  .welcome-screen section:nth-of-type(1) form {
    background: rgba(0, 0, 0, 0.1);
    outline-offset: 0;
    overflow: hidden;
    outline: 3rem solid rgba(0, 0, 0, 0.1);
  }
}
