.welcome-screen {
  background: var(--sidebar-left-bg);
  background-image: url(../../images/20090119-nordaaker.jpg);
  background-attachment: fixed;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;

  &, a {
    color: var(--sidebar-left-text);
  }

  h1,
  h2 {
    margin-top: 0;
  }

  .btn.is-hallow {
    color: var(--sidebar-left-text);
    border-color: var(--sidebar-left-bg);
  }

  article,
  footer,
  section {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    padding-top: 4rem;
    width: 42rem;
    max-width: 100%;
  }

  section {
    min-height: 60vh;
  }

  .welcome-screen__signup {
    min-height: 80vh;
  }
}

.welcome-screen__about {
  h1 {
    font-size: 2.4rem;
  }
}

.welcome-screen__footer {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
