.message {
  position: relative;
  margin-bottom: 0.2rem;

  .emojione {
    height: 1.5rem;
    vertical-align: bottom;
  }

  .message_from {
    text-decoration: none;
  }

  .message_text {
    margin-bottom: 0.4rem;
    overflow-wrap: break-word;

    a {
      color: var(--text-color);

      &:hover {
        text-decoration: none;
      }
    }
  }

  .ts {
    color: var(--ts-color);
    font-size: var(--ts-font-size);
    font-weight: normal;
    padding: 0.1rem;
    float: right;
  }

  &.is-hightlighted {
    background-color: #ffd7db;
  }

  &.is-same {
    .message_from {
      display: none;
    }

    .ts {
      opacity: 0;
      transition: opacity 0.5s;
    }

    &:hover .ts {
      opacity: 0.8 ease-in-out;
    }
  }
}
