##########
# Convos User Systemd Unit
##########
#
# Edit the paths to fit your needs/installation
#
# NOTE: The %h on systemd units will be automatically replaced by the user $HOME directory
#
##########

[Unit]
Description=Convos User Service
After=network.target
 
[Service]
Type=simple
Environment="CONVOS_HOME=%h/.convos" "CONVOS_REVERSE_PROXY=1" "LISTEN=http://127.0.0.1:8081"
ExecStart=%h/convos/script/convos daemon --listen ${LISTEN}
KillMode=process
Restart=on-failure
 
[Install]
WantedBy=default.target
