@use 'if_screen' as *;

@mixin shadow_under_site_header {
  box-shadow: inset 0 6px 8px -8px rgba(0, 0, 0, 0.7);
}

@mixin site {
  padding-top: var(--gutter);
  display: flex;
  align-items: center;

  h1,
  h2,
  input {
    font-size: var(--h1-font-size);
    margin: 0;
  }

  .far,
  .fas {
    font-size: 1.3rem;
  }

  @include if_screen("<=two-columns") {
    padding-top: var(--gutter-small);

    h1 {
      font-size: calc(var(--h2-font-size) * 1.1);
      flex: 1 0 0;
    }
  }
}
