@mixin popup {
  font-size: 0.9rem;
  font-weight: normal;
  line-height: 1.1em;
  border-radius: 3px;
  padding: 3px;
  opacity: 0;
  display: block;
  position: absolute;
  width: 1px;
  overflow: hidden;
  transition: opacity 250ms ease-in-out;
  pointer-events: none;
}

@mixin popup_visible {
  background: var(--tooltip-background);
  color: var(--tooltip-color);
  opacity: 0.85;
  width: auto;
  z-index: 1000;
}
