// Need to be in sync with store/ThemeManager.js
$breakpoint-one-column: 400px !default;
$breakpoint-two-columns: 800px !default;
$breakpoint-three-columns: 1200px !default;

$input-max-width: 24em;
$sidebar-item-icon-width: 1.5rem;
