/*
 * name: Blood
 * color-scheme: light
 */

:root {
  --body-bg: #fdfdfd;
  --link-color: #bb3333;
  --hr-border: 1px solid #333333;
  --error-color: #ee2222;
  --success-color: blue; /*#338833;*/
  --focus-outline: 0 0 1px 2px rgba(243, 118, 118, 0.4);
  --highlight-color-bg: #ffc4c4;
  --code-bg: #ccc;
  --button-bg: #990000; 
  --button-border: 1px solid #bb0000; 
  --button-focus-outline: 1px solid #ff9999; 
  --button-danger-bg: #990000;
  --button-disabled-bg: #ffb3b3;
  --button-disabled-border: #373737;
  --input-focus-outline: 2px dotted #eee;
  --autocomplete-focus: #eeeeee;
  --autocomplete-focus-bg: #333333;
  --sidebar-right-bg: #f8f8f8;
  --sidebar-left-bg: #222222;
  --sidebar-left-border: 1px solid #000000;
  --sidebar-left-frozen-color: #aaaaaa;
  --sidebar-left-text: #f8f8f8;
  --sidebar-left-border-bottom: #887d76;
  --sidebar-left-search-placeholder-color: #999999;
  --sidebar-left-search-focus-bg: #990000; 
  --syntax-hl-base-bg: #fff;
}

