/*
 * name: Desert
 */
:root {
  --body-bg: #f9f3e2;
  --link-color: #463c36;
  --hr-border: 1px solid #ccbb88;
  --error-color: #642121;
  --success-color: #416054;
  --focus-outline: 0 0 1px 2px rgba(243,218,218,0.3);
  --highlight-color-bg: #e6dbbf;
  --code-bg: #dfd8c1;
  --button-bg: #62534a;
  --button-border: #62534a;
  --button-disabled-bg: #95867d ;
  --button-focus-outline: 1px solid #95867d;
  --autocomplete-focus-bg: #ddd4bc;
  --chat-input-bg: #e8e1cd;
  --sidebar-left-bg: #eee8d5;
  --sidebar-left-border: 1px solid #d5d2d0;
  --sidebar-left-frozen-color: #77675c;
  --sidebar-left-text: #59473a;
  --sidebar-left-border-bottom: #887d76;
  --sidebar-left-search-placeholder-color: #604d41;
  --sidebar-left-search-focus-bg: #d5cbaf;

  /*
   * Atom One Light by Daniel Gamage
   * Original One Light Syntax theme from https://github.com/atom/one-light-syntax
   */
  --syntax-hl-base: #383a42;
  --syntax-hl-base-bg: #eee7cf;
  --syntax-hl-addition: #50a14f;
  --syntax-hl-attr: #986801;
  --syntax-hl-attribute: #50a14f;
  --syntax-hl-built-in: #c18401;
  --syntax-hl-bullet: #4078f2;
  --syntax-hl-comment: #7b632f;
  --syntax-hl-deletion: #e45649;
  --syntax-hl-doctag: #a626a4;
  --syntax-hl-formula: #a626a4;
  --syntax-hl-keyword: #a626a4;
  --syntax-hl-link: #4078f2;
  --syntax-hl-literal: #0184bb;
  --syntax-hl-meta-string: #50a14f;
  --syntax-hl-meta: #4078f2;
  --syntax-hl-name: #e45649;
  --syntax-hl-number: #986801;
  --syntax-hl-quote: #a0a1a7;
  --syntax-hl-regexp: #50a14f;
  --syntax-hl-section: #e45649;
  --syntax-hl-selector-attr: #986801;
  --syntax-hl-selector-class: #986801;
  --syntax-hl-selector-id: #4078f2;
  --syntax-hl-selector-pseudo: #986801;
  --syntax-hl-selector-tag: #e45649;
  --syntax-hl-string: #50a14f;
  --syntax-hl-subst: #e45649;
  --syntax-hl-symbol: #4078f2;
  --syntax-hl-template-variable: #986801;
  --syntax-hl-title: #4078f2;
  --syntax-hl-type: #986801;
  --syntax-hl-variable: #986801;
}
