.fullscreen {
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  cursor: zoom-out;

  > * {
    cursor: default;
  }

  img {
    max-height: 80%;
    max-width: 90%;
  }
}
