@use '../../abstracts/sidebar_wrapper_chrome' as *;

.sidebar-right {
  @include sidebar_wrapper_chrome;
  background: var(--sidebar-right-bg);
  width: var(--sidebar-right-width);
  right: 0;
  margin-top: 4rem;

  &, a {
    color: var(--sidebar-right-text);
  }

  nav a {
    background: var(--sidebar-right-bg);

    &:hover {
      filter: brightness(0.9);
    }
  }

  label.checkbox + nav {
    padding-top: 0;
  }
}
