@use '../../abstracts/if_screen' as *;
@use '../../abstracts/sidebar_wrapper_chrome' as *;
@use '../../abstracts/variables' as *;
@use '../../vendors/fortawesome-fontawesome/mixins' as fa;

.sidebar-left {
  @include sidebar_wrapper_chrome;
  background: var(--sidebar-left-bg);
  border-right: var(--sidebar-left-border);
  width: var(--sidebar-left-width);
  left: 0;

  &, a {
    color: var(--sidebar-left-text);
  }

  .select-field__options a {
    color: var(--input-color);
  }

  @include if_screen(">two-columns") {
    padding-right: calc(var(--gutter) * 2);
  }

  @include if_screen("<=two-columns") {
    top: 3rem; // TODO: Should be a dynamic value
    right: 0;
    left: auto;
  }

  h2 {
    font-size: var(--h1-font-size);
    margin: 0;

    .btn-hallow {
      font-size: 1.4rem;
      position: absolute;
      right: 0;
    }
  }

  h3 {
    border-bottom: 1px solid var(--sidebar-left-border-bottom);
  }
}

body.for-cms .sidebar-left {
  display: none !important;
}

.sidebar-left__nav a {
  position: relative;

  &.for-connection .fas:hover:before {
    @include fa.content(cog);
  }

  &.for-conversation .fas:hover:before {
    @include fa.content(users-cog);
  }

  &.for-conversation {
    padding-left: 0.6em;
  }

  &.has-errors {
    font-style: italic;
  }

  &.is-frozen {
    color: var(--sidebar-left-frozen-color);
  }

  &:focus,
  &:hover {
    background: var(--sidebar-left-search-focus-bg);
  }

  &:focus {
    outline: 0;
    box-shadow: var(--focus-outline);
    z-index: 1;
  }

  &.has-path {
    background: var(--sidebar-left-search-focus-bg);
    font-style: inherit;

    .badge {
      display: none;
    }
  }

  &.has-focus {
    background: var(--sidebar-left-search-focus-bg);
  }
}

.sidebar-left__nav .badge {
  position: absolute;
  top: 0.4em;
  right: 0.3em;
}

.sidebar-left__nav .fas {
  text-align: center;
  width: $sidebar-item-icon-width;
}

.sidebar-left__nav.is-filtering {
  a.has-path {
    background: transparent;
  }

  a.has-focus {
    background: var(--sidebar-left-search-focus-bg);
  }
}
