@use '../../abstracts/header';
@use '../../abstracts/if_screen' as *;

.chat-header {
  @include header.site;
  background: var(--body-bg);
  border-bottom: 1px solid #bbb;
  box-shadow: 6px 2px 14px -2px rgba(0, 0, 0, 0.2);

  padding-bottom: var(--gutter-small);
  padding-right: var(--gutter);
  padding-left: calc(var(--gutter) * 2);

  position: absolute;
  top: 0;
  left: var(--sidebar-left-width);
  right: 0;
  z-index: 900;

  a {
    color: inherit;
    margin-left: var(--gutter-small);
    flex-basis: auto;

    &:before {
      content: '';
      width: var(--gutter-small);
    }
  }

  @include if_screen("<=two-columns") {
    background: var(--sidebar-left-bg);
    color: var(--sidebar-left-text);
    left: 0;
  }
}

.chat-header__actions {
  text-align: right;
  margin-left: calc(var(--gutter) * 2);
  width: calc(var(--sidebar-right-width) - var(--gutter));
}

.chat-header__topic {
  padding-left: var(--gutter-small);
  padding-right: var(--gutter-small);
  padding-bottom: 0.4rem;
  flex: 1 0 20%;
  opacity: 0.85;
  align-self: flex-end;
}
