@use 'chat/header';
@use 'chat/input';
@use 'chat/messages';
@use '../abstracts/header' as *;

.main.is-above-chat-input {
  @include shadow_under_site_header;
  bottom: 4rem;
  top: 4.2rem;

  &:after {
    height: 1rem;
  }
}

.main.has-pos-top .message__status-line.has-pos-bottom {
  display: none;
}

.main.has-pos-bottom .message__status-line.has-pos-top {
  display: none;
}

.fa-contributor {
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 3px;
  height: 1.3rem;
  width: 1.3rem;
  vertical-align: text-bottom;

  &:after {
    display: none;
  }
}
