.page-chat {
  .main {
    padding-bottom: 1rem;
    bottom: 3.5rem;
  }
}

.fa-contributor {
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 3px;
  height: 1.3rem;
  width: 1.3rem;
  vertical-align: text-bottom;

  &.for-convos {
    background-color: #eee !important;
    background-size: 92%;
    background-position: 50% 50%;
  }

  &:after {
    display: none;
  }
}
