body.for-cms {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  > noscript,
  > .cms-main {
    flex: 1;
  }
}

body.for-cms .footer,
.cms-navbar,
.cms-main {
  margin: 0 auto;
  padding: var(--gutter);
  width: var(--content-max-width);
  max-width: 100%;
}

.cms-main {
  padding-top: 0;

  a:hover {
    text-decoration: none;
  }

  h2 {
    padding-bottom: 0.3rem;
    padding-top: 1.5rem;
    margin-top: 2rem;
  }

  code {
    background: var(--syntax-hl-base-bg);
    padding: 2px 4px;
  }

  img {
    border-radius: 2px;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
  }
}

.toc a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@import './cms/navbar';
@import './cms/footer';
@import './cms/blog';
@import './cms/cards';
