body.is-logged-out {
  .sidebar {
    font-size: 1.1rem;
    padding: var(--gutter-big);
    position: absolute;
    bottom: 0;
    left: 0;

    h1 {
      margin-top: 0;
    }
  }

  @include if_screen("<=side-by-side") {
    .sidebar-wrapper {
      padding: var(--gutter-big);
      width: 100%;
      max-width: none;
      height: auto;
      position: static;
      transform: translateX(0);

      > :last-child {
        padding-bottom: 0;
      }
    }

    .sidebar {
      padding: 0;
      position: static;
    }

    .main.align-content-middle {
      padding: var(--gutter-big);
      min-height: auto;
    }
  }
}
