.video-chat--wrapper {
  iframe {
    height: calc(100vh - var(--navbar-small-height)) !important;
    position: absolute;
    top: var(--navbar-small-height);
    right: 0;
    bottom: 0;
    left: 0;
  }
}
