// Name: Light

html.theme-light {
  @import '../../../node_modules/highlight.js/scss/atom-one-light.scss';
}

html.theme-light,
:root {
  --body-bg: #f8f9f8;
  --font-family: "PT Sans", Helvetica, Arial, sans-serif;
  --font-family-monospace: "Ubuntu Mono", monospace;
  --font-size: 16px;
  --h1-font-size: 2.2rem;
  --h2-font-size: 1.5rem;
  --text-color: #333;
  --link-color: #4a6b4c;
  --quote-color: #aaa;
  --gutter: 1rem;
  --gutter-small: 0.5rem;
  --gutter-big: 2rem;
  --error-color: #900;
  --success-color: #090;
  --focus-outline: 0 0 1px 2px rgba(243, 218, 218, 0.3);
  --highlight-color: #fbe4e6;
  --hr-border: 1px solid #d8d8d8;
  --button-bg: #354d36;
  --button-color: #fff;
  --button-border: 1px solid #354d36;
  --button-focus-outline: 2px solid #97b799;
  --button-disabled-bg: #b5ccb6;
  --button-disabled-color: #fff;
  --button-disabled-border: #fff;
  --button-danger-bg: #9c2626;
  --button-danger-color: #fff;
  --input-bg: #fff;
  --input-gutter: 0.8rem;
  --input-border: 1px solid #888;
  --input-border-radius: 0;
  --input-color: #555;
  --input-focus-outline: 1px solid #999;
  --input-disabled-bg: #f9f9f9;
  --input-disabled-color: #6f6f6f;
  --input-placeholder-color: #8e8e8e;
  --input-focus-placeholder-color: #bbb;
  --autocomplete-bg: #fbfbfb;
  --autocomplete-border: 1px solid #888;
  --autocomplete-focus-bg: #e5e5e5;
  --ts-color: #4d4d4d;
  --ts-font-size: 0.9rem;
  --sidebar-left-bg: #5f8961;
  --sidebar-left-frozen-color: #a7d4aa;
  --sidebar-left-text: #fefefe;
  --sidebar-left-width: 300px;
  --sidebar-left-outline: #8ece93 auto 3px;
  --sidebar-left-border-bottom: #fefefe;
  --sidebar-left-search-placeholder-color: #527754;
  --sidebar-left-search-focus-bg: #527754;
  --sidebar-right-bg: var(--body-bg);
  --sidebar-right-text: var(--text-color);
  --sidebar-right-width: 280px;
  --tooltip-background: #222;
  --tooltip-color: #f0f0f0;
}
