// Name: Nord

html.theme-nord {
  @import '../../../node_modules/highlight.js/scss/nord.scss';

  --body-bg: #2e3440;
  --text-color: #d8dee9;
  --link-color: #88c0d0;
  --quote-color: #88c0d0;
  --error-color: #bf616a;
  --success-color: #a3be8c;
  --highlight-color: #434c5e;
  --hr-border: 1px solid #4e4e4e;
  --button-bg: #5E81AC;
  --button-color: #ECEFF4;
  --button-border: 1px solid #434C5E;
  --button-focus-outline: 2px solid #97b799;
  --button-disabled-bg: #4c566a;
  --button-disabled-color: #86a980;
  --button-disabled-border: #373737;
  --button-danger-bg: #bf616a;
  --button-danger-color: #fff;
  --input-bg: #cbd3e4;
  --input-border: 1px solid #4e4e4e;
  --input-color: #263754;
  --input-focus-outline: 1px solid #8FBCBB;
  --input-disabled-bg: #3B4252;
  --input-disabled-color: #D8DEE9;
  --input-placeholder-color: #4C566A;
  --autocomplete-bg: #404040;
  --autocomplete-border: 1px solid #888;
  --autocomplete-focus-bg: #222;
  --ts-color: #4d4d4d;
  --sidebar-left-bg: #4C566A;
  --sidebar-left-frozen-color: #88C0D0;
  --sidebar-left-text: #D8DEE9;
  --sidebar-left-outline: #8ece93 auto 3px;
  --sidebar-left-border-bottom: #5E81AC;
  --sidebar-left-search-placeholder-color: @ECEFF4;
  --sidebar-left-search-focus-bg: #434C5E;
  --sidebar-right-bg: var(--body-bg);
  --sidebar-right-text: var(--text-color);
}
